[2015-05-14 01:49] VladUreche opened #2 "Statement coverage not sent completely"
This is what I get on codacy: https://www.codacy.com/app/vladureche/miniboxing/file/638296884/coverage?bid=2211210&fileBranchId=2211210 (it's not showing missed statements, only the ones hit) and here's what I get on codecov: https://codecov.io/github/miniboxing/miniboxing-plugin/components/plugin/src/miniboxing/plugin/transform/minibox/inject/MiniboxDuplTreeTransformation.scala?ref=wip

I tried t

[2015-05-14 01:56] stevepeak commented on #2
On your local machine can you run the bash script as this: `codecov -vd` and send me the results. I'll review the coverage documents to see whats up. Thanks!

[2015-05-14 02:07] VladUreche commented on #2
Thanks for looking into this!
Here it is: https://gist.github.com/VladUreche/75b3d9693ca1f50106b9

[2015-05-14 02:13] stevepeak commented on #2
Thanks, I'll review this first thing tomorrow and get back to you.

[2015-05-14 09:09] VladUreche commented on #2
Thanks @stevepeak!

[2015-05-14 12:40] stevepeak commented on #2
@VladUreche there are some new report formats I have not encountered before. I'll have this fixed up for you today. I'll be in touch in your Gitter room when I'm ready for a new upload. Sound good? Thanks!

[2015-05-17 14:27] #2 closed

[2015-05-18 08:13] mgeisler opened #4 "Seeing unrelated files"
Hi there. Now that #3 is merged, I could submit my coverage report.

However, when I go to https://codecov.io/github/zerovm/swift-browser?ref=87d20ee8e010b1e9172209dc8a0e742540654a95 -- the URL printed by the `codecov` script, I see strange files I don't recognize. This is from a small AngularJS project built on Travis -- I have no idea who the "kpdecker" user could be.

[2015-05-18 12:49] stevepeak commented on #4
Which file directories are correct? I'll look into the others.

Another option you can do is in our interface there is two Features Ignore Files and Fix Paths. Using both of them will solve your issue too. But I would like to add this the uploader so that other customers don't see this as well.

Thanks!

[2015-05-18 20:03] mgeisler commented on #4
It's only `app/js` that I can recognize as mine. The other paths contain unrelated files.

[2015-05-18 20:06] stevepeak commented on #4
If you could add the following test to the [Ignore Files](https://codecov.io/github/zerovm/swift-browser/features/ignore)

[code]

Hit submit and look at the report. Thanks!

[2015-05-18 20:13] mgeisler commented on #4
Yes, that made the report look correct. However, I don't understand where the files came from in the first place. I have tried rebuilding on Travis and got the same report, so it seems to be deterministic.

I switched to the Bash upload script to avoid using `sudo` and thus be able to use the new container based builds in Travis. Do you think this could be a problem on Travis' side?

[2015-05-18 20:22] stevepeak commented on #4
Not quite sure on that one. The file path `Users/...` throws me for a loop. I may fork the repo to inspect and find the culprit reports to skip them in the future.

[2015-05-18 20:28] mgeisler commented on #4
The `Users/` paths makes me think that there is a Mac OS X machine involved somewhere -- which there isn't... I develop on Linux and I believe Travis ran the build on a Linux machine too.

[2015-06-10 17:33] zbeekman opened #8 "[ "$(which coverage)" != "coverage not found" ]"
I suspect this is the culprit of an error I’m seeing, but I’m not 100% sure. The error is here: https://travis-ci.org/zbeekman/json-fortran/jobs/66252248#L1519 which in turn implicates https://github.com/codecov/codecov-bash/blob/master/codecov#L328 But, L328 should not cause a problem if an executable named `coverage` exists, and this is checked for in [line 321](https://github.com/codecov/codeco

[2015-06-10 19:56] stevepeak commented on #8
Thanks for finding this. Odd how this has not presented an issue before. But I'll make sure it is fixed up.

[2015-06-10 20:00] zbeekman commented on #8
well it doesn’t cause the build to fail AFAICT it just causes an error message. And it was only introduced 13 days ago in a5c25b53ab5e44b1b6acfabbd657c33914ba6d19. The only reason I found it was that I was looking for something else in the travis logs and spotted it.

[2015-06-10 20:41] stevepeak commented on #8
Thanks for following up. I believe that commit should do the trick to hush that error.

[2015-06-10 20:48] zbeekman commented on #8
OK, great. I’m not sure how to test it until it’s the default code fetched
with the curl command in the documentation. Just curious why not just use
the exit status of `which` rather than parsing its output?

On Wed, Jun 10, 2015 at 4:41 PM Steve Peak <notifications@github.com> wrote:

[2015-06-12 13:13] stevepeak commented on #8
This is where my bash knowledge is challenged. How would I write that line more efficiently?

[code]

[2015-06-12 15:36] zbeekman commented on #8
First of all the expression you have above will always be false since you are piping stderr into stdout `2>&1` and piping stdout into `/dev/null`. In your shell try this `which ls >/dev/null 2>&1` and this `which fake_command >/dev/null 2>&1`. Neither will create any output since we’re throwing any output away. However, if you type `echo $?` after each command, you should get `0` (success/true) fo

[2015-06-12 15:36] zbeekman commented on #8
hit the wrong button, sorry. Please see above

[2015-06-12 19:02] zbeekman commented on #8
https://github.com/codecov/codecov-bash/blob/f90ea4e266b373d56eb450a8f3fd857c07f7c1c5/codecov#L361 looks good to me… I haven’t tested it feel like we can probably close this issue if you are satisfied… it looks like it should work to me.

[2015-06-12 19:46] stevepeak commented on #8
Great! The master branch is looking nice. Would you have a change to give it a spin?

Currently production version is https://github.com/codecov/codecov-bash/commit/e0866065a0489f4649d365bf5e23fb1d3e838b6a

[2015-06-12 19:54] zbeekman commented on #8
no promises, but I’ll try to give it a shot tonight or later this weekend.

On Fri, Jun 12, 2015 at 3:46 PM Steve Peak <notifications@github.com> wrote:

[2015-06-16 15:42] stevepeak commented on #8
This should all be working now. Thank you for your help @zbeekman :+1:

[2015-06-16 15:42] #8 closed

[2015-07-29 18:20] tabuchid commented on #4
Question about this. Can you adjust the Ignore Files via the uploader or something where we can check in the configuration instead of relying on a GUI configuration?

[2015-07-29 21:07] stevepeak commented on #4
Indeed this is a fine idea. I'll make note of it for my next hack on the uploader. Thank you @tabuchid

[2015-07-30 19:40] tabuchid opened #14 "Make script installable"
Because of security concerns I'd like to install this bash uploader instead of piping the output of a network call through bash. This leaves a couple of options with the current setup.
1. I can just download the script and include it in my project.
  The downside on this is I love versioning, if there are updates to the script I have to include them into my project manually.
2. Include this repo a

[2015-07-30 20:41] stevepeak commented on #14
I have not thought about adding it to other dependency managers, its a fine idea.

I'll be working on the Python uploader to do the same tasks as the bash for those that prefer that method.

[2015-07-30 23:00] tabuchid commented on #14
Using the Python uploaded would work so long as it finds all the same kinds
of coverage files. Bonus cause it's installable via pip right?
On Thu, Jul 30, 2015 at 4:41 PM Steve Peak <notifications@github.com> wrote:

[2015-07-31 16:06] stevepeak commented on #14
Correct! I'll be working on this soon. For now, you can use the Bash uploader if you'd like. If security is a concern then please download [this version](https://raw.githubusercontent.com/codecov/codecov-bash/cd5c049f565f0d9a5d4114d1928881e62378ca63/codecov) until the Python project has caught up with the Bash uploader.

Thank you!

[2015-08-04 21:47] tabuchid commented on #4
There actually is a way to do this with the current script. Here is a snippet from my circle.yml to do this on a ios project.
[code]

[2015-08-04 22:05] stevepeak commented on #4
Related note: If the desired ignore paths may be common to other repos I can program then into our backend to automatically ignore.

[2015-08-17 05:36] amondnet opened #15 "can't detect Wercker."
Codecov
    (version) cd5c049
    (url) https://codecov.io
    ==> No CI detected, using git for branch and commit sha.

Wercker Steps - setup enviroment
http://devcenter.wercker.com/docs/environment-variables/available-env-vars.html

     export CI="true" // not True

codecov-bash

    elif [ "$CI" = "True" ] && [ "$WERCKER_GIT_BRANCH" != "" ];
    then
      say "==> Wercker CI detected."

[2015-08-17 14:13] stevepeak commented on #15
Hey @amondnet thank you for bringing this to my attention. I wonder if they changed the `CI` value from `True` to `true` which threw this off. Thank you :)

[2015-11-01 18:48] texus opened #19 "-x option ignored"
Since commit 72c885f the script always uses the "gcov" executable instead of using the executable name provided with the -x parameter. Since I use gcc 5 in my project I need to execute "gcov-5" on travis.

After taking a quick look at the code it also looks as if the gcov arguments are ignored in the latest version since it has $gcovargs instead of $gcov_arg ([line 486](https://github.com/codecov/

[2015-11-09 07:33] stevepeak commented on #19
Sorry about this issue. I've deployed a fix just now. Thank you!

[2015-11-09 07:33] #19 closed

[2015-11-11 17:29] #15 closed

[2015-11-11 17:33] stevepeak commented on #14
@tabuchid our Node and Python uploaders operate in the same way as the bash. All three of these will be maintained for future growth of Codecov and its features.

Do you have a suggestion to improve the bash uploader?

[2015-12-31 15:03] stevepeak opened #21 "Get the data from `git`"
[code]

To setup default data during uploading

[2016-02-01 22:49] pvorb opened #22 "Do not print private token to stdout"
I am using codecov-bash (commit 5ca7b8c) on GitLab CI. I use the `-t` parameter to provide the private token of my project on codecov.io. Unfortunately, this private token gets printed to stdout and thus is visible in the build log. Build logs are public on GitLab (I'm not sure what's the case for other build servers).

[code]

I think this behavior should be avoided. When I first configured CI an

[2016-02-01 23:21] pvorb opened #23 "Cannot upload report to S3"
Here's my full output of calling codecov-bash:

[code]

I obfuscated the token in the output (see #22).

What might be the cause of the problem? I can't really tell from the output, but the code tells me that either "Reports queued to [...]" or "Failed to upload to s3" should be printed after "Uploading to S3".

[2016-02-02 19:12] stevepeak commented on #22
Hey @pvorb I do agree hiding the token would be the best practice. We will be working to remove this shortly.

The token is only used to upload reports and cannot expose any sensitive information. There is no security issues/vulnerabilities with exposed tokens in this manner. But we will hide them in upcoming versions.

Thank you!

[2016-02-02 22:42] pvorb commented on #22
Yes, I'm aware that the information is not super sensitive, but even project pages on codecov.io state:

So tokens shouldn't be published accidentally through codecov's own tools.

Thanks for your effort.

[2016-02-05 01:31] stevepeak commented on #23
I found the error in out logs. Looks like the issue is due to the `slug` argument.
[code]

This value should be something like `owner/repo`. Looks like it is not being detected properly in GitLab.

I'll review more and get back to you shortly. Thankssteve@stevepeak.net

[2016-02-05 01:37] #23 closed

[2016-02-05 01:41] pvorb commented on #23
Thank you for the update.

The repository's name actually is `pvorb/gitlab-ci-java-gradle-codecov.git`, so it actually is `owner/repo` . A possible explanation could be a regex `/.git/` which is replaced by an empty string.

[2016-02-05 01:47] stevepeak commented on #23
Thanks :) I'll be putting this live soon. Just need to fix some CI tests around it. Cheers!

[2016-04-15 17:59] jfairley opened #28 "fails with permission denied in subdirectory"
In one of our Java apps, we have integration tests for permissions. Long story short, directories get created that are unreadable.

When codecov-bash recursively looks for coverage files, it bombs on these directories. I would expect the script to continue recursing through other directories rather than aborting the entire search.

[code]

FWIW, I do know about `-s DIR`. I'm going to add this to m

[2016-04-15 20:27] jfairley commented on #28
I tried `-s DIR` and it didn't seem to matter. Does this syntax look correct?

[code]

[2016-04-18 18:17] stevepeak commented on #28
@jfairley the `-s` argument is used to add new folders where coverage reports may be located. In this case, its not necessary.

This is the first I've seen it failing. I think adding `-readable -prune` to the `find` command should fix this.
Is the repository open source? Here is the uploader I would like to try:

[code]

[2016-04-19 16:27] jfairley commented on #28
It's not open-source. I'll give it a try, and let you know.

[2016-04-19 16:50] jfairley commented on #28
This time it printed nothing after "Searching for coverage reports", but it still threw some sort of error. Last time, I saw those errors a second time.

[code]

[2016-04-28 03:37] suguru opened #30 "Upload fail when commit messages contain `merge ... into`"
I am using bash script to upload coverage report with command `bash <(curl -s https://codecov.io/bash)` from CircleCI.

It seems uploading tasks are always fail when commit comment is like `Merge branch 'feature' of github.com:suguru/repository into master`.

Our logs show that something happened in commit parameter.

[code]

[2016-05-20 22:07] tulioz opened #31 "coverage in virtualenv results in .coverage not being found"
When you run `coverage` from a virtual environment the bash script skips the `.coverage` file since `which coverage` doesn't return a valid path.

[2016-05-21 14:49] stevepeak commented on #31
@tulioz Since the command `coverage` is not found how can we call `coverage xml`?

Maybe this would work:

[code]

[2016-05-23 20:43] tulioz commented on #31
Thanks @stevepeak was a misunderstanding on my part, I thought codecov was ingesting the .coverage file not a coverage.xml file. Indeed fixed this by running `coverage xml` prior to uploading.

[2016-05-23 20:43] #31 closed

[2016-06-26 00:45] eduardoeof opened #34 "Upload code coverage data from unit tests classes"
I have a Swift project and its code coverage isn't right. I realised that codecov-bash is taking code coverage data from project's class and its unit tests. I thought it would only get class's code coverage.

![screen shot 2016-06-25 at 21 35 48](https://cloud.githubusercontent.com/assets/1106372/16359918/e57d2b22-3b1d-11e6-9dc8-c5b68189463f.png)

[2016-06-29 16:08] stevepeak commented on #34
Hey @eduardoeof You can specify class only via:

[code]

Thanks!

[2016-06-29 16:17] stevepeak commented on #28
Hey @jfairley sorry for the delay. I'm curious if this is still occuring in the newer releases. I believe we have a flag to ignore permissions issues established.

[2016-06-29 18:08] jfairley commented on #28
Yes. Our CI still uses the same bash as commented above, minus the `-s` switch. It still throws.

Is there a new switch that I should enable?

[2016-07-01 01:08] eduardoeof commented on #34
Oh nice @stevepeak! I didn't know that I could use regex. Just a suggestion, the documentation could comment about regex.

[2016-07-01 14:21] stevepeak commented on #28
@jfairley can you run this on the current release. I'm curious what the errors are now.

[code]

I'm looking at [this thread](http://stackoverflow.com/questions/762348/how-can-i-exclude-all-permission-denied-messages-from-find) and have implemented [here](https://github.com/codecov/codecov-bash/blob/1a2c031c3fce12e7cfc5aa61bdf62b58747caec7/codecov#L714). Thanks!

[2016-07-03 11:52] #34 closed

[2016-07-10 15:58] stevepeak commented on #30
Hey @suguru this should be fixed up by recent releases. Have you seen this issue in the past week or longer?

[2016-07-12 16:38] #30 closed

[2016-07-16 00:01] ibuclaw opened #35 "Add invert match for gcov ignore switch."
I'm working with a frontend to a much, much larger project. However both must be built together.

After finishing the build with `--coverage` this leaves over 900 gcov files that get picked up by the codecov script. However only less than 150 of them are relevant to my project.  This results in almost 800 files being scanned, uploaded, then discarded post upload as they don't exist in the reposito

[2016-07-20 09:50] stevepeak commented on #35
Hey @ibuclaw you can provide custom arguments to the gcov upload command:

[code]

Let me know if that works out ;)

[2016-07-20 10:45] ibuclaw commented on #35
Yeah, that's not quite right.  `-G` isn't a gcov option.  I was suggesting a potential option for the codecov bash script.

Currently you have:
[code]
Which translates to the following that will be passed to `find`
[code]
However I'd like to know if it's possible to support the opposite to `-not -path`.

[2016-07-20 11:00] stevepeak commented on #35
Ok. I think I'm understanding this. It would help if you expressed what your command would look like in the example below.

[code]

What would yours look like?

[2016-07-20 11:11] ibuclaw commented on #35
Sure, it would look like this.
[code]

[2016-07-20 11:16] #35 closed

[2016-07-20 11:17] stevepeak commented on #35
Ok, cool 👍  that makes. Does that commit above look right?

[2016-07-20 16:58] jfairley commented on #28
I thought I should revisit this issue, so I read through that bash file to see what it does. I understand what you were saying about `-s` being used "to add new folders". Even with `-s`, it still also searches in ".".

I may have found a workaround after reading through that bash file. I'm currently setting a custom project root, and that seems to work.

[code]

I understand that this would also i

[2016-07-20 17:01] jfairley commented on #28
The other thought I had was whether using a `codecov.yml` would "fix" this by bypassing some of that problematic bash code. I haven't configured a `codecov.yml` for any of my projects yet though, I'm not familiar with its options.

[2016-07-26 14:13] stevepeak commented on #28
Hey @jfairley thanks for the details on this. I think your idea of replacing the search paths will work well for this. I'll make the adjustments accordingly.

[2016-07-26 18:38] ibuclaw commented on #35
Hey @stevepeak. Yes that looks good for my use-case, thanks!

[2016-07-26 22:27] stevepeak commented on #35
Cool! This is deployed 👍

[2016-08-01 22:44] jfairley commented on #28
It doesn't seem this is deployed yet. (I just performed a curl locally.) Could you say when that might be?

[2016-08-03 11:52] stevepeak commented on #28
Hey @jfairley just deployed now. Thank you for your patience 👍

[2016-08-12 05:03] wilzbach opened #38 "bash-codecov takes about a minute with many files"
Just as an FYI with many files (atm 162) codecov-bash takes a quite noticable time to read all reports. In fact compiling all those files is about as fast as codecov ;-)

See e.g. this build:

https://circleci.com/gh/dlang/phobos/13

(when watched "live" it felt like it spent all the time on "reading the reports")

[2016-08-12 16:33] stevepeak commented on #38
I'm seeing 44s on the Codecov job. Do you have a suggestion on how to speed up reading files? https://github.com/codecov/codecov-bash/blob/master/codecov#L886-L917

[2016-08-25 15:03] nijel commented on #38
I've just faced same issue.

The problem is not reading but concatenating them in memory - this is quite slow in bash. What might be better approach is to prepare request data in temporary file (it's anyway just concatenating them).

https://github.com/codecov/codecov-bash/blob/master/codecov#L912-L915

PS: I've currently workarounded by uloading files in chunks as it's way faster than doing many

[2016-08-25 15:11] stevepeak commented on #38
@nijel I would love to implement this. Can you help me understand on what technique you are suggesting?

[2016-08-25 15:20] nijel commented on #38
See https://github.com/codecov/codecov-bash/pull/39 (completely untested)

[2016-08-27 11:31] stevepeak commented on #38
Resolving soon thanks to @nijel contributions 👍

[2016-08-27 11:31] #38 closed

[2016-08-30 17:47] kgryte opened #42 "Support standard stream"
Similar to the Node.js module `codecov`, would be useful if the bash script accepted a coverage report from `stdin`; e.g.,

[code]

This would allow support for pipelining without the need to write to disk in order to upload.

[2016-08-31 11:59] stevepeak commented on #42
Hey @kgryte thank you for the feature suggestion. I do not know of a way to have both these options work without locking stdin on the first call below:

[code]

All my attempts to read `/dev/stdin` have locked the IO waiting for content to be written to stdin. My research into this has not resolved well... :(

[2016-10-05 20:26] rsyring commented on #28
I believe this is still a problem.  I recently ran the bash script and this was my output:

[code]

The script returns a "1" exit code and, as you can see, nothing gets uploaded.

However, if I use the Python codecov uploader:

[code]
The permission issues are there, but they don't kill the entire script.

Going back to the bash script, if I disable some of the features, the error messages move bu

[2016-10-07 14:20] stevepeak commented on #28
Gotcha! Solved it by adding `|| echo ''` to the `find` commands

[2016-10-07 14:21] #28 closed

[2016-10-07 15:22] rsyring commented on #28
@stevepeak thanks for the quick turnaround, that's encouraging.

[2016-10-07 15:29] stevepeak commented on #28
I'm sorry it took so long. I was not fully aware of what the issue was.

Deployed 👍 Let me know if its working properly.

[2016-10-07 17:09] rsyring commented on #28
@stevepeak the changes didn't solve the problem :(

[code]

[2016-10-07 17:41] stevepeak commented on #28
Darn, didnt add it to report fixes. Doing that now. Thank you!

[2016-10-07 17:52] stevepeak commented on #28
@rsyring can you try this commit:

[code]

Thank you!

[2016-10-07 18:17] rsyring commented on #28
@stevepeak that fixed it, thanks.

[2016-10-17 12:01] vanniktech opened #46 "CI Providers in README is missing BuddyBuild"
The list of supported CI Providers in the README is missing BuddyBuild although it is according to the source code [supported](https://github.com/codecov/codecov-bash/blob/8f5e8784ba2ff421c9b337c99e06fdd3d64c09c9/codecov#L441).

[2017-01-19 00:55] gliptak opened #52 ""raw" upload command?"
Would the "raw" upload command be available (in particular for a ```Go``` project with a ```coverage.txt``` file)? Instead of running a shell download from the internet, some project might choose to use that instead. Thanks

[2017-01-19 13:28] stevepeak commented on #52
Hey @gliptak Yes this does indeed work for go: https://github.com/codecov/example-go

You can configure your own http post of report content to Codecov if the shell script is not desired. We are also looking into packaged options, e.g., apt-get, yum, etc.

You can also use the python package: `pip install --user codecov && codecov`.

Thanks!

[2017-01-19 13:28] #52 closed

[2017-01-19 14:52] gliptak commented on #52
Thank you for the pointer. Would you have also have details on  the parameters of HTTP post (an maybe a ```wget```/```curl``` example)?

[2017-01-19 15:20] stevepeak commented on #52
Sure :)

Here is the minimum requirements, you can discover the remaining arguments [here](https://github.com/codecov/codecov-bash/blob/master/codecov#L729-L740)

[code]

[2017-01-20 19:48] hugoduncan opened #53 "Not possible to process multiple .coverage files"
I'm trying to upload multiple `.coverage` files using the bash uploader.

I have tried specifying `-s` to specify the location of each file, but this does not work, as the uploader always does a search from `$git_root`, and always finds the first file.

[2017-01-20 19:54] stevepeak commented on #53
Hey @hugoduncan how is your project structured? Where are these `.coverage` files located?

*If I may guess* You may need to call `coverage xml` on your own in each folder

[code]

[2017-01-20 20:11] hugoduncan commented on #53
Thanks, a variant of that works nicely.

[2017-01-20 20:11] #53 closed

[2017-01-28 18:53] gliptak commented on #52
I came up with (public repo so no ```token``` required?):
[code]
but it throws ```No such file or directory```

Would I need additional parameters?

https://travis-ci.org/cloudflare/cloudflare-go/jobs/196191034

[2017-01-29 13:47] stevepeak commented on #52
Hey @gliptak

`No such file or directory` would be an issue with the file `coverage.txt` not existing.  I'm not sure what your coverage file name is, but it appears to not be `coverage.txt`. I just used that name as an example. The bash uploader can detect common files names [here](https://github.com/codecov/codecov-bash/blob/20901fe5a15f2687674bb843e16717d4dbc96e3a/codecov#L824).

There are other

[2017-01-30 00:12] gliptak commented on #52
@stevepeak Thank you for helping me with this.

https://travis-ci.org/cloudflare/cloudflare-go/jobs/196438911
[code]
If the ```coverage.txt``` files exists, what other reasons might be for ```No such file or directory```?

[2017-01-30 02:17] stevepeak commented on #52
Can you try this:

[code]

I have not used the prior technique and this `/home/travis/build.sh: line 57: application/json'` tells me something is wrong with the format.

[2017-01-30 02:39] gliptak commented on #52
OK, an actual error, a bit confusing as we should be able to skip the token?

https://travis-ci.org/cloudflare/cloudflare-go/jobs/196470037

[code]

[2017-01-30 03:25] stevepeak commented on #52
This would be from the lack of Travis variables provided. I should have included them in the full request. So here we go 😄

[code]

[2017-01-31 03:12] gliptak commented on #52
Still wants the token ...

https://travis-ci.org/cloudflare/cloudflare-go/jobs/196819806#L354

[code]

[2017-02-05 23:39] pwittchen opened #54 "How to configure codecov to stop failing PRs when coverage is decreased by the small value?"
Hi,

I'm using codecov in Android library written in Java and I have the following question:
**How to configure codecov to stop failing PRs when coverage is decreased by the small value?**

Here I have an exemplary pull request: https://github.com/pwittchen/ReactiveNetwork/pull/153.
Here's is my `codecov.yml` file: https://github.com/pwittchen/ReactiveNetwork/blob/master/codecov.yml

As you can se

[2017-02-06 16:30] pwittchen commented on #54
Ok, I see you have support project, so I'm closing issue here.

[2017-02-06 16:30] #54 closed

[2017-02-06 20:14] LebedevRI opened #55 "Trying to get coverage from clang"
I do not know if it will actually work in the end, but
The problem: i run codecov bash script with `-x llvm-cov-3.8 -a gcov`, which i assume should produce what the script expects.
However, `$gcov_exe` is also run with some hardcoded arguments: `-pb` or `-pbcu`
https://github.com/codecov/codecov-bash/blob/ef00447d164a2bea2a4ec69720a7afaac29e4585/codecov#L805

`llvm-cov gcov` does not support them,

[2017-02-07 09:07] LebedevRI commented on #55
https://github.com/codecov/codecov-python/issues/52 is related

[2017-02-07 22:36] jayvdb commented on #22
@pvorb @stevepeak it looks like this was solved.
I dont see the token in the output now, but I have only checked on project.

[2017-02-07 22:38] stevepeak commented on #22
Correct, this has been resolved in the bash uploader. Thank you for pointing the ticket out.

[2017-02-07 22:38] #22 closed

[2017-02-07 22:55] jayvdb commented on #14
I doubt there is any chance of codecov-bash being included in a distro.

The best chance is by using a bash package manager.

A quick look around shows three bash package managers exist.

http://www.bpkg.io/
https://github.com/ziyaddin/jean
https://github.com/basherpm/basher

None of them exist in Debian or Fedora.

IMO this issue should be closed until a distro has one of those available as a pac

[2017-02-07 22:58] jayvdb opened #56 "Support AppVeyor"
Appveyor has bash installed and in the path, and it should work.

As a short term measure, it should raise an error immediately on Appveyor, informing the user that it does not work on Appveyor.

[2017-02-14 18:04] jcfr opened #57 "testing-with-docker: https://codecov.io/env returns access denied"
Dear Project maintainer,

Thanks again for providing such a neat infrastructure for managing code coverage :+1:

That said, trying to download the `env` script using https://codecov.io/env (as explained in the [testing-with-docker](https://docs.codecov.io/docs/testing-with-docker) documentation) fails with the following response:

[code]

When you have a chance, could you have a look ?

Merci

Cc:

[2017-02-14 18:05] stevepeak commented on #57
We have a fix in the pipe for this. Very sorry about the issue. Should be release by tonight.

[2017-02-14 18:05] #57 closed

[2017-02-14 18:14] jcfr commented on #57
Outstanding. Looking forward to it. And thanks for the quick reply :+1:

[2017-02-15 11:11] stevepeak commented on #57
Deployed! Thank you for your patience.

[2017-02-15 17:03] jcfr commented on #57
Thanks @stevepeak

I confirm that the file is now available :+1:

[2017-02-18 17:48] dtinth opened #58 "Support CircleCI 2.0"
[CircleCI 2.0](https://circleci.com/blog/say-hello-to-circleci-2-0/), currently in closed beta, supports Docker out-of-the-box. It brings [a lot of nice improvements](https://discuss.circleci.com/t/circleci-2-0-overview/8086).

However, [there are changes in environment variables](https://discuss.circleci.com/t/circleci-environment-variables-1-0-vs-2-0/9584). The variables `CIRCLE_PROJECT_USERNAME

[2017-02-21 13:08] stevepeak commented on #58
Thank you @dtinth I'll use your node pull to update the bash uploader.

[2017-02-21 13:18] #58 closed

[2017-02-21 23:24] rsyring opened #59 "Recent commits broke it"
Sorry I don't have a better title.  :)

[code]

The output above was from output on Circle CI.  Jobs were otherwise working well today, the error just started showing up in the last few hours.

[2017-02-22 01:33] stevepeak commented on #59
We had some server errors that occurred during this time. I suspect that was the issue.

Can you confirm it's working again? Thank you,
Steve

[2017-02-22 14:37] rsyring commented on #59
Yes, it is, thanks.

[2017-02-27 16:28] #59 closed

[2017-03-14 16:59] hartwork opened #62 ""Dont upload and dump to stdin" should be "stdout"?"
Looking at
[code]
I think `stdout` is what you refer to, actually. True?

[2017-03-14 17:06] hartwork opened #63 "Please add license header"
Hi!

Without a license header in [codecov](https://github.com/codecov/codecov-bash/blob/master/codecov) I need to assume "all rights reserved" for a license. Is that true? Please add a license header stating what the license is. Thank you!

Best, Sebastian

[2017-03-14 19:30] stevepeak commented on #62
Yes, thank you!

[2017-03-14 19:33] #62 closed

[2017-03-31 20:00] rochdev opened #66 "Add support for Jenkins Blue Ocean"
See codecov/codecov-node/issues/55

[2017-04-01 18:54] stevepeak commented on #66
This change should do the trick: https://github.com/codecov/codecov-bash/blob/a7792cd49f92cd359d789cc0aa576d1e562bac49/codecov#L410

The `git log -1 --format="%H"` is built into the bash uploader already.

Look good to you?

[2017-04-01 20:04] rochdev commented on #66
@stevepeak This change includes Groovy syntax which is invalid bash (see failing tests). Also, it doesn't take the `CHANGE_ID` for the pull request and it might result in an empty URL in some cases.

[2017-04-07 18:30] stevepeak commented on #66
Thank you! Adding now and deploying soon.

[2017-04-07 18:30] #66 closed

[2017-04-10 19:40] sebastienvas opened #68 "Last version breaks Jenkins pipeline (not multibranch)"
[mixer] Running shell script
+ curl -s https://codecov.io/bash
+ bash /dev/stdin -K

  _____          _
 / ____|        | |
| |     ___   __| | ___  ___ _____   __
| |    / _ \ / _` |/ _ \/ __/ _ \ \ / /
| |___| (_) | (_| |  __/ (_| (_) \ V /
 \_____\___/ \__,_|\___|\___\___/ \_/
                              Bash-e4a745b

==> Jenkins CI detected.

And then nothing else. After some investigation I

[2017-04-11 20:36] ypconstante commented on #68
I started to use Codecov today and had this same problem.
The version in commit d642346 also solved the problem for me.

[2017-04-11 20:55] sebastienvas commented on #68
I ended up changing my pipeline libraries to set GIT_COMMIT and GIT_BRANCH when checking out the code. More details at https://github.com/istio/istio-testing/commit/96c1bdb12710c3aea44fb0a2242203bcb8ccf70e

[2017-04-12 14:32] TimvdLippe opened #69 "Generated emails are reported as spam by Inbox"
Recently, all CodeCov GitHub emails are automatically flagged as spam by Google Inbox. Maybe an email setting is wrong and now incorrectly flagging this service as spam?

[2017-04-12 15:33] stevepeak commented on #69
Codecov does not send out emails. The emails are submitted by GitHub. I do not know what help I can provide here.

[2017-04-12 20:36] TimvdLippe commented on #69
I am not sure what exactly is flagging the CodeCov e-mails, but all my other GitHub e-mails are working just fine. Maybe have to contact GitHub or Google?

[2017-04-13 16:58] stevepeak commented on #69
Maybe you blocked the @codecov-io bot?

https://cl.ly/1w3C390U091C

[2017-04-13 17:18] stevepeak commented on #68
Thank you for reporting. Do you have a suggestion on how to resolve this?

[2017-04-13 17:27] sebastienvas commented on #68
One of the issues is that CI detection is happening regardless of argument passed in. Since I passed in arguments I did not expect CI detection to fail.

The second issues would be to update
https://github.com/codecov/codecov-bash/blob/master/codecov#L418
from :
 [ ! -z "$BRANCH_NAME" ] && echo "$BRANCH_NAME")
to
 || echo "$BRANCH_NAME")
as it is done in here:
https://github.com/codecov/codecov-ba

[2017-04-13 21:21] TimvdLippe commented on #69
@stevepeak No, I have not.

[2017-05-09 13:09] #46 closed

[2017-05-28 00:55] ileitch opened #71 "Silent failure detecting Jenkins branch"
When running against `master` in our setup, neither `$BRANCH_NAME` or `$GIT_BRANCH` exist in the environment. As a result, codecov exits when trying to detect the branch:

[code]

I'm not sure what changed, but this used to work fine a few months ago when I last tried.

[2017-06-14 14:03] lplewa opened #74 "codecov seems to handle branch data in incorrect way"
example raport:
https://codecov.io/gh/lplewa/codecov_tests/src/7483e6bc6f4b96525eef5657370cae84e7bf8791/foo.c#L15

In the raport above, if in line 15 is "yellow" , but all his branches are green, what looks like the bug.
if we will check a uploaded raport we can find 4 branches where there should be only two
[code]
it happened because i compiled this code two times (with two separate binaries) - s

[2017-06-23 22:24] itsindra opened #76 "Luacov coverage report"
to detect luacov reports we would need a modification on line 958 or make a new entry
`-or -name 'luacov.report.out'`
should be changed or a new line added
`-or -name 'luacov.stats.out'`

[2017-06-26 20:15] #76 closed

[2017-07-01 19:41] LuCavallin opened #78 "Travis CI just says "No coverage report found""
`language: go

go:
  - 1.8.x
before_script:
  - go get ./...
  - go vet ./...
after_success:
  - bash <(curl -s https://codecov.io/bash)
`

This is my conf file. Nothing happens - I think it should be plug-n-play, but it's not :(

[2017-07-02 08:34] stevepeak commented on #78
Can you please make sure a coverage file is created before uploading to Codecov. There should be a `coverage.txt` file created.

https://github.com/codecov/example-go

Thank you,
Steve

[2017-07-02 08:34] #78 closed

[2017-07-19 18:40] sfgeorge opened #82 "Test suite is failing"
The current test suite fails, which impedes the ability to make enhancements/fixes.

[2017-07-28 23:33] sfgeorge opened #83 "Patch Status should compare to merge-base instead of HEAD"
A common false-positive I see from Codecov is as follows
1. I create a pull request which Codecov reports green as improving code coverage by ~ 1%. ✅
2. Separately, a colleague's PR which improves coverage by ~ 4% is merged into the integration branch. ✅
3. I trigger a new build on my PR - and now Codecov falsely reports that the [Patch Status](https://docs.codecov.io/docs/commit-status#section-pa

[2017-07-31 11:39] stevepeak commented on #83
Can you diagram this out? Because from my understand this is not an expected behavior.

The base commit used for comparison would only change if the pull request is rebased, **not** upon new commits to the base branch.

[2017-07-31 11:39] stevepeak commented on #83
https://docs.codecov.io/docs/comparing-commits

[2017-08-10 07:51] lazka opened #84 "Warn if git is missing"
Using the bash script in docker fails to get the config because by default most docker images don't have git installed.

I figured it out eventually, but a warning/error would have been nice.

[2017-08-14 11:30] blueyed opened #87 "dry run: do not (try to) upload file, without dumping"
You can use `-d` to dump the upload file instead of uploading, but that is quite verbose.

It would be nice if `-d` would just output the URL, and `-d -d` would dump it - given that a long option like `--dry-run` is not trivial to do with bash's getops (but would be possible), and that `-n` is already taken.

Via #86.

[2017-09-11 09:48] adiroiban opened #90 "Wrong version advertised in https://codecov.io/bash"
The file which is now at https://codecov.io/bash has `VERSION="d109cc7"`

I have a version cached 10 days ago, which has the same  version, but is different to the "latest" on.

Here is the diff.

I think that the version on https://codecov.io/bash should have a different VERSION

[code]

[2017-09-12 12:26] stevepeak commented on #90
@adiroiban Thank you for pointing this out. We made a quick patch to the script in order to remove these large files. Future versions will support them.

[2017-09-12 12:27] #90 closed

[2017-09-15 16:46] dnephin opened #91 "Failing on busybox 1.26, incorrect flags passed to `find`"
See: https://circleci.com/gh/riyazdf/cli/1900 (last step "Upload to Codecov")

[code]

It finds no files to upload, so the reports are empty.

[2017-09-18 08:34] stevepeak commented on #91
Thanks for reporting. This find error is during report fixes and is odd. I'll have to review it more.
Meanwhile try this:

[code]

[2017-10-02 09:17] bonigarcia opened #93 "codecov-bash not working when using Jenkins pipeline"
Hi there,

I am not able to update the codecov coverage report using the bash script in a Jenkins pipeline. After executing my tests, I call the codecov-bash script as follows:

`sh "curl -s https://codecov.io/bash | bash -s - -t ${TORM_CODECOV_TOKEN} || echo 'Codecov did not collect coverage reports'"`

In the Jenkins console we can check that the bash script failed:

[code]
Looking for some simi

[2017-10-07 09:44] benjaoming opened #94 ".coverage is there but not submitted: "No coverage report found""
There's an error in the current `https://codecov.io/bash` script, reports aren't found - at least verified on Travis.

Debugging, I find that **there is a `.coverage` file**:

From https://travis-ci.org/django-wiki/django-wiki/jobs/284586222 :

[code]

Following this, I stopped using the source from `https://codecov.io/bash` and switched to a Travis config with `install: pip install codecov` + `af

[2017-10-11 13:06] TimvdLippe commented on #69
It seems that this issue has been resolved since. They are no longer marked as spam 🎉

[2017-10-11 13:06] #69 closed

[2017-10-12 07:52] darioizzo commented on #90
The patch is actually breaking our coverage build "https://travis-ci.org/esa/pagmo2/jobs/286527538". Any workaround to implement? When is the support to large files being restored?

[2017-10-25 09:47] darioizzo commented on #90
@stevepeak Any progress on this? I would like to know if support for large files will be restored any time soon as our CI is consistently breaking now. I can remove the code coverage from the builds of course, but I would rather have it

[2017-10-25 21:18] richistron commented on #68
I'm having the same problem

[2017-10-25 21:18] richistron commented on #93
same here

[2017-10-29 15:47] blueyed opened #95 "CircleCI: inconsistent args for build/job with codecov-python"
https://github.com/codecov/codecov-bash/blob/7e6cfa3935aeb29de57298bda496dad27b24aa37/codecov#L541-L542

vs

https://github.com/codecov/codecov-python/blob/adc22c19f3e924cac15a7ee25edfb3a5b518bf7c/codecov/__init__.py#L345-L346

[code]

[2017-10-30 09:25] felixfbecker commented on #56
I am using the bash uploader successfully in multiple projects:

https://github.com/felixfbecker/vscode-php-debug/blob/2afa122eb27f1dcbd20d8657c0d78ad0aed0ff50/appveyor.yml#L24-L29

https://github.com/sourcegraph/javascript-typescript-langserver/blob/a34ac0bde47e7219481e2d20bc8b3b5ea816dddc/appveyor.yml#L22-L27

https://github.com/sequelize/sequelize/blob/3f5927f5bb47db85f5e0401d5a876f652fef1cd3/a

[2017-10-30 09:26] felixfbecker opened #96 "bash : find: paths must precede expression: ./vendor/bin"
Seeing this error in one of my projects:

[code]

https://ci.appveyor.com/project/felixfbecker/php-language-server/build/24#L500

[2017-10-30 12:30] jayvdb commented on #56
So `bash` is in the `PATH`, but that is not sufficient because `find` needs to be added to the front of the `PATH`?

The bash script should be able to detect AppVeyor and amend the `PATH` for its own process only.

Then AppVeyor can be 'supported' in https://github.com/codecov/codecov-bash#ci-providers

[2017-10-30 22:27] felixfbecker commented on #56
Uhm, I don't know if `bash` is in the PATH by default, but all the unix tools (including bash) that CodeCov uses are ported to Windows in MSYS which is available on AppVeyor in `C:\msys64`.

[2017-11-01 00:00] mergeweb commented on #96
This might have been fixed with this commit?
https://github.com/codecov/codecov-bash/commit/8007cdb880ad9046d4c09981a965a1637a063ea9

I had the same issue and pulling from master fixed it for me.

[2017-12-01 17:53] chfast opened #98 "Do not search project root"
I think there is no option to disable searching gcov files in project root. The project root contains multiple build dirs and I don't want to upload all of these.

[2017-12-05 07:13] flaeppe commented on #94
I've recently battled this issue and I think I can explain why you(or anyone else) had a problem in the first place.

The issue here is line:

[code]

If you look at the bash file, in the section which generates that message([this link](https://github.com/codecov/codecov-bash/blob/adae2409a84619c9644f5f826c4d96cb9c098cc0/codecov#L945)) you can kinda figure out that it's `coveragepy` that converts:

[2017-12-05 08:55] flaeppe opened #99 "Following "Codecov outside docker" documentation results in 400 response"
While following the documentation for [Testing with docker](https://docs.codecov.io/docs/testing-with-docker)([Codecov outside docker](https://docs.codecov.io/docs/testing-with-docker#section-codecov-outside-docker)) I retrieve `400` response(s) when uploading report.

_It could be interesting to know that I'm trying this in Docker cloud(autotesting)_

_(Note that I've replaced some uninteresting

[2017-12-06 13:49] stevepeak commented on #99
I see. So there is an issue with `service=docker`. I'll patch that server side now.

[2017-12-06 13:50] #99 closed

[2017-12-06 16:41] adamdicarlo opened #100 "Bash script unclear about why it can't find `codecov.yml` when source-control not present"
Feature request for codecov bash script:

1. Allow _at least_ project-root-only `codecov.yml` files when source control is unavailable
2. Show _why_ `codecov.yml` was not found when it's not (eg. "We couldn't find .git or .hg directories, so we only looked in the project-root directory")

Figuring out _why_ codecov.yml wasn't being found sucked up a few hours of my and my coworker's time.

Our bui

[2017-12-07 11:37] stevepeak commented on #100
I think your feedback is very helpful. I'll add your suggestions now.

[2017-12-07 11:43] stevepeak commented on #100
@adamdicarlo Thoughts on 63c7f29

[2017-12-18 11:39] blueyed opened #101 "Improve detection of merge commit"
Port it from https://github.com/codecov/codecov-python/pull/118.

[2017-12-18 12:06] stevepeak commented on #101
LGTY? beaae4352ed8d6541c0952630a35bbb30ac88cbe

[2017-12-19 19:40] blueyed commented on #101
Needs a fixup I think: https://circleci.com/gh/codecov/codecov-bash/612

[2017-12-20 09:17] #101 closed

[2017-12-21 21:38] jastkand opened #105 "Script stopped working on Circle CI"
It looks like [this commis](https://github.com/codecov/codecov-bash/commit/8ba54695655892a81654ab9f4815ae034b28284f) broke the script. Now if fails on Circle CI. Here is a CI log:

[code]

[2017-12-22 07:05] stevepeak commented on #105
Fixed by #104, deploying now. Thanks

[2017-12-22 07:05] #105 closed

[2017-12-28 02:08] njsmith opened #106 "change to merge handling has broken handling of real merges and PR diff calculation"
One of codecov's key features is that for each PR, it tells you how it changes coverage compared to the current master branch. In order to do this, it needs to have some idea of what the coverage *is* on the master branch. Sometime in the last week or so, on my project [Trio](https://github.com/python-trio/trio), codecov started miscalculating the master coverage as being ~95%, when my coverage is

[2017-12-28 13:47] blueyed commented on #106
Thanks for the detailed issue report.

I agree with your conclusion that there is a fundamental misunderstanding.

However, instead of reverting we should rather harden the detection to actually only trigger it for GitHub merge commits, e.g. by looking at the merge commit's author.
What do you think?

[2017-12-28 19:49] njsmith commented on #106
What problem are you trying to solve, and what's your plan for testing a
new change to make sure it's at least as good as the old thing?

On Dec 28, 2017 5:47 AM, "Daniel Hahler" <notifications@github.com> wrote:

[2017-12-28 21:18] blueyed commented on #106
Initially I've thought that looking at Git metadata is less fragile than parsing the log message.
With only reverting to the original behavior, it would still be broken in case of non-PRs, when using the same commit message.

https://github.com/codecov/codecov-python/pull/128 is meant to restore the original bahvior, with the additional fix on top.

I've only done manual testing for it, and it sho

[2018-01-01 13:40] johlju opened #108 "Error when running codecov -f $resolvedResultFile -X gcov"
We have started seeing an error a couple of weeks back when running the following (in AppVeyor using PowerShell script). It seems this is an error that get reported in the Python code for codecov.
Was hoping for some insight what could be going on.

I more detailed write up can be seen in the issue https://github.com/PowerShell/DscResource.Tests/issues/203.

[code]

[code]
See test run here: https

[2018-01-01 13:43] johlju commented on #108
My bad. Wrong repo 😞

[2018-01-01 13:43] #108 closed

[2018-01-02 13:51] stevepeak commented on #106
Thank you @blueyed I'll revert the change and deploy in the next 30 minutes.

[2018-01-02 13:52] #106 closed

[2018-01-10 20:13] zhouyoufu opened #110 "ext install Shan.code-settings-sync"

[2018-01-10 20:13] zhouyoufu opened #111 "ext install Shan.code-settings-sync"

[2018-01-16 09:21] swimablefish opened #112 "can't find the report for python when jenkins workspace is using symbol link"
Hi,  we're using symbol link in our jenkins:  /var/lib/jenkins  -->  /mnt/jenkins.
For python,  we found the script can't detect the coverage report.
The reason is the environment vars which are passed by jenkins,   **PWD** is different from **WORKSPACE**.
PWD=/mnt/jenkins/workspace/jobname
WORKSPACE=/var/lib/jenkins/workspace/jobname
If we force to change PWD to /var/lib/jenkins/workspace/jobname

[2018-01-16 09:28] stevepeak commented on #112
Interesting. We do not use the variable `WORKSPACE` in our upload script. I'm not sure how that value would change how Codecov bash is executed.

We could apply a patch that could check the `PWD` and `WORKSPACE` during the script. But is this issue specific to your CI? I have not heard this issue before.

[2018-01-16 10:53] swimablefish commented on #112
We use jenkins pipeline, so it should be PWD's problem.
If PWD is set to /mnt/jenkins/workspace/jobname, the codecov can't find the report. And it will show error status for the commit in codecov.io's commit dashboard.
And we add branch protection with codecov-project, so the pull request's status will always be pending.

[2018-01-16 10:57] stevepeak commented on #112
Did you find a workaround? I'm not quite sure how to resolve this issue.

[2018-01-16 14:31] swimablefish commented on #112
I didn't modify the script. I just reset the PWD=WORKSPACE, then it worked.

[2018-01-16 14:57] ramlongcat commented on #108
i have the same issue and my repo is correct.
im using AppVeyor and a build that used to work in December is now failing with that exact error message.
FYI in my experience the error started to appear around December 15th (and maybe it can help but im using tags; the API documentation about flag badges is still incomplete BTW)

[2018-01-16 15:12] stevepeak commented on #112
Ok. I'll add this to our caveats and hope it helps others that may be having the same issue.

[2018-01-16 15:14] #112 closed

[2018-01-16 15:15] stevepeak commented on #108
@ramlongcat can you share you stdout error? Is it the same?

We do have a codecov.exe that may be a better option: https://github.com/codecov/codecov-exe

[2018-01-16 16:15] ramlongcat commented on #108
sure:
[code]

[2018-01-16 16:24] ramlongcat commented on #108
BTW it seems the issue has moved [here ](https://github.com/PowerShell/DscResource.Tests/issues/203)for some reason.

[2018-01-31 19:29] korken89 opened #113 "CircleCI 2.0 upload generates faulty reports?"
Hi, I am moving from TravisCI to CircleCI 2.0 and using exactly the same commands produces errors for codecov.
The error is given as follows:
[code]

The ERROR is just that I do not have a codecov YAML file, which it should use the default for.
The WARNING is quite clear, that says that there are no files in coverage report.
However checking the log from CircleCI clearly shows all the coverage fil

[2018-01-31 19:54] korken89 commented on #113
After testing it seems to be the problem that `git` was not in the docker.
It is already stated in #84 , and there should really be a warning.

[2018-02-01 08:44] stevepeak commented on #84
@lazka We have another technique where you export the report(s) out of docker and upload them with `git` as a command. See here: https://docs.codecov.io/docs/testing-with-docker

[2018-02-01 08:44] stevepeak commented on #113
@korken89 We have another technique where you export the report(s) out of docker and upload them with git as a command. See here: https://docs.codecov.io/docs/testing-with-docker

[2018-02-03 09:22] #71 closed

[2018-02-20 11:55] #111 closed

[2018-03-06 14:54] Kojoley commented on #55
Use quotes `-x 'llvm-cov-3.8 gcov'`.

[2018-03-26 08:11] akx opened #116 "Mildly faulty coveragepy detection"
Hey,

Looks like codecov-bash 8b76995 doesn't want to upload Python coverage unless the `coverage` executable is around.  This detection is a little faulty when using a tox-based build, since `coverage` will likely be installed within the tox-managed virtualenv.

The obvious workaround is to install `coverage` in the outside-of-tox environment. Maybe one could use `-f .coverage` to force codecov-b

[2018-03-26 08:54] stevepeak commented on #116
Hi @akx, Indeed there are some gotchas to this. Tox and virtualenvs are tricky to work with.

The `.coverage` files are "locked" in the venv therefore we suggest running coverage from inside your tox env.  https://github.com/codecov/codecov-python#using-tox

It is not clear to me of any way around this.... Using `-f .coverage` will not solve the issue because the `.coverage` files does not have al

[2018-03-26 08:54] #116 closed

[2018-04-04 21:17] apanzerj commented on #93
ditto

[2018-04-07 23:01] nunogoncalves commented on #94
Here's my build: https://travis-ci.org/nunogoncalves/iOS-OctoPodium/builds/363618137

[2018-04-09 16:20] Midnighter opened #117 "Suggestion for extending documentation for codecov and docker"
I'm not a `make` expert so it might be obvious to others; I struggled a long time with the proper expansion of the `ci_env` variable. The following fixed it for me in my `Makefile` so maybe it's a useful addition to the [documentation](https://docs.codecov.io/docs/testing-with-docker)?

[code]

[2018-04-16 21:09] mloskot commented on #113
I'm also hitting very similar problem trying to generate coverage reports from CircleCI 2.0 builds of Boost.Geometry library.

## Configuration overview

- Config files in https://github.com/mloskot/geometry/tree/develop
- Build https://circleci.com/gh/mloskot/geometry/273 (Note, this is one of recent builds that runs tests, generates and submits coverage)
- Codecov report expected at https://code

[2018-04-18 22:53] mloskot opened #118 "CircleCI 2.0 codecov-bash generates nothing but codecov-python works"
This is continuation of an issue investigation I described in details as comment for https://github.com/codecov/codecov-bash/issues/113#issuecomment-381750243
Since I suspect this might be a separate problem, I decided to open new new issue and copy my comment here.

UPDATE: See at the bottom for fix/workaround solution.

-----

I'm also hitting very similar problem as #113 trying to generate cove

[2018-04-24 18:46] aliriorivera commented on #93
Hi, I had the same problem and after several tries, I realize what was the problem and how to fix it

the problem is that when Bash tries to know what was the last sha commit (env.GIT_COMMIT), it is getting a void value. For that reason there is going to be a 502 error: missing required fields (in Jenkins logs when trying to upload the report). To fix it, try to run "git rev-parse HEAD" and store

[2018-05-10 09:48] pitrou opened #121 "Cut down output verbosity"
When I try out codecov on our repo, I get 2000+ lines of output:
https://travis-ci.org/pitrou/arrow/builds/376803020#L1988

Typically, I'm not interested in seeing information about every covered file on stdout. It would be nice to have a flag to have a much less verbose output without giving up entirely on important status or errors messages (such as upload outcome and results URL).

[2018-05-11 08:08] stevepeak commented on #121
@pitrou may I ask that you try this out.

[code]
Let me know if that does the trick :)

[2018-05-11 09:14] pitrou commented on #121
It worked!
* C++ step: https://travis-ci.org/pitrou/arrow/jobs/377629235#L5595
* Rust step: https://travis-ci.org/pitrou/arrow/jobs/377629243#L1650

[2018-05-30 09:28] Midnighter commented on #84
Still, on that very page a warning that the technique *inside* requires git would have saved us quite a bit of trouble.

[2018-05-31 19:03] provTheodoreNewell opened #123 "Generated *.coverage.txt files from Xcode coverage parsing not cleaned up with -c"
https://github.com/codecov/codecov-bash/blob/4678d212cce2078bbaaf5027af0c0dafaad6a095/codecov#L211

Running codecov-bash to parse coverage from an Xcode project leaves *.coverage.txt files in the current directory. I would expect these files to be removed with the `-c` argument.

[2018-06-26 11:38] pitrou commented on #121
Hi @stevepeak, will this change be in the official upload script soon?

[2018-07-08 12:25] omaralbeik opened #124 "WARNING No files found in report."
I can't seem to see any error related to codecov in my [build](https://travis-ci.org/omaralbeik/UserDefaultsStore/builds/401425222), test coverage is working in Xocde 9.4 as well.

However Im getting `There was an error processing coverage reports.`

[code]

https://codecov.io/gh/omaralbeik/UserDefaultsStore/commit/09fe53c84f43bc347cb32c2ddaa3eae5492cd716

Thank you :)

[2018-07-13 18:35] axelheer opened #125 "Support AppVeyor Ubuntu images"
According to the [official documentation](https://www.appveyor.com/docs/environment-variables/) the environment variables `CI` and `APPVEYOR` don't contain the values `True` but `true` (lower case!).

Thus, the bash script is unable to detect that. I'd just copy the [code block](https://github.com/codecov/codecov-bash/blob/4678d212cce2078bbaaf5027af0c0dafaad6a095/codecov#L663-L673) for AppVeyor, s

[2018-07-19 08:16] joachimmetz opened #126 "find of gcov fails due to PATH on AppVeyor"
When trying to run [codecov](https://github.com/codecov/codecov-bash/blob/master/codecov) on AppVeyor it yields the following error when trying to find gcov files

[code]

(likely) The relevant find: https://github.com/codecov/codecov-bash/blob/master/codecov#L955

[2018-07-19 08:20] joachimmetz commented on #126
It seem to have changed in https://github.com/codecov/codecov-bash/commit/1ac948214de2ebf4b9a5a764bf428f932457f296

[2018-08-25 10:54] mydearxym opened #128 "SSL certificate problem"
[code]

[2018-09-09 02:46] joshma opened #129 "Is buildkite officially supported?"
It looks like https://github.com/codecov/codecov-bash/commit/df2c95fee48d30cfeeae4354a0bf9da0950d01f9 added `$BUILDKITE` support, but https://github.com/codecov/codecov-bash#ci-providers doesn't list it.

Should buildkite be added to that list?

[2018-09-20 03:35] guhungry opened #131 "Xcode coverage *.coverage.text don't have path if have 1 file in module"
### FAIL
So the coverage can't map source code with path [commit result](https://codecov.io/gh/guhungry/ios-version/commit/d0806bfab61a452bc21032035cabb0660dd82639)

Here is the result file
[code]

### SUCCESS
But after I split files the it generate path so it success  [commit result](https://codecov.io/gh/guhungry/ios-version/commit/491f15a665086be3a2d4ec723fd2f23acb78a5f3)

Here is the result fi

[2018-09-22 17:15] KilianB opened #132 "Syntax error near unexpected token `(' when trying to pass reports from travis ci"
Can someone please tell me if this issue is codecov-bash related or if I should take a look someplace else?

As described here : https://stackoverflow.com/questions/52433448/eval-error-when-publishing-to-codecov-from-travis

.travis.yml
[code]

pom.xml
[code]

travis.ci output

[code]

[2018-09-25 10:34] garas opened #133 "Failure while retrieving PHP version from environment on Travis"
Two weeks ago, Codecov started to fail during environment step:

[code]

Codecov is executed conditionally `if [[ $DEFAULT = 1 && $TRAVIS_PHP_VERSION = 7.0 ]]; then bash <(curl -s https://codecov.io/bash); fi`

I think fault is here:

https://github.com/codecov/codecov-bash/blob/4678d212cce2078bbaaf5027af0c0dafaad6a095/codecov#L489-L493

Maybe stricter regexp `^TRAVIS_.*_VERSION=` would help so it

[2018-10-02 10:46] KilianB commented on #132
Apparently now it works without any changes made.

[2018-10-02 10:46] #132 closed

[2018-10-03 09:55] eps1lon opened #134 "codecov fails in CircleCI on merge commits"
When running `bash <(curl -s https://codecov.io/bash)` on a PR in CircleCI that has a merge commit as the latest commit codecov will fail with
[code]

[Full report](https://circleci.com/gh/mui-org/material-ui/46206?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

I guess this fixable on our end if we call it with `-C $CIRCLE_SHA1` or simply add empty commits aft

[2018-10-14 02:55] ryan-williams commented on #133
Hit the same issue while attempting conditional upload based on `TRAVIS_SCALA_VERSION`; [example failure](https://travis-ci.org/lasersonlab/ndarray.scala/jobs/441163668#L996):

[code]

fix referenced above worked for me!

[2018-10-15 02:12] andriantosg opened #136 "Generated *.coverage.txt files from Xcode containing the source code"
Hi, I have iOS project and I noticed the report that uploaded to codecov still containing the source code. Is this expected? Since the report will be accessible publicly, what should I do to prevent it? Do you have any solutions?

Thank you.

[2018-10-15 18:42] fdlk opened #137 "Codecov incorrectly selects second git parent commit when Jenkins tests merged pull request"
We run Jenkins CI on pull requests using the strategy "Merging the pull request with the current target branch revision" from the GitHub Branch Source Plugin:
<img width="737" alt="screen shot 2018-10-15 at 20 08 55" src="https://user-images.githubusercontent.com/1523838/46969480-762bb000-d0b6-11e8-8d12-4716f5fff37e.png">

The build log shows the merge details:
[code]
So the PR head `808aa3a` gets

[2018-10-15 18:49] fdlk commented on #137
I expect there is no easy way for codecov to figure out which is the correct parent commit and I'd prefer if it does less magic rather than incorrect magic.

[2018-10-16 15:16] jayvdb commented on #63
A license header was added in https://github.com/codecov/codecov-bash/commit/1a5e41a27687becd428706162f2a4035b52285bf

[2018-10-16 22:35] hartwork commented on #63
Thank you!

[2018-10-25 00:16] IsaiahJTurner commented on #113
If you use setup_remote_docker you'll need to have another script that does some wizardry to pull the file out. For me that looks like this:

[code]

[2018-10-31 03:29] kyechou commented on #55
`-x 'llvm-cov-3.8 gcov'` doesn't really work for now, since the script will only take the first word as the `$gcov_exe` without the quotes around `$OPTARG`.

[2018-10-31 11:41] pocmo opened #140 "Add support for taskcluster"
taskcluster is a task execution framework / CI heavily used by Mozilla:
https://docs.taskcluster.net/docs

We are using codecov for (at least) our Android apps and libraries. Currently we are using travis just for codecov. This has become a bottleneck for us and we would like to run codecov on taskcluster directly (multiple parallel tasks).

I'd like to contribute this - however I do not have a fu

[2018-10-31 11:43] pocmo commented on #140
Environment variables:
* Default: https://docs.taskcluster.net/docs/reference/workers/docker-worker/docs/environment
* GitHub integration: https://docs.taskcluster.net/docs/reference/integrations/taskcluster-github/docs/taskcluster-yml-v1#transitioning-from-v0

[2018-10-31 11:53] pocmo commented on #140
By default this just works with the "git" fallback. However for parallel tasks codecov posts (and updates) the comment on the PR for every task that completed. According to the docs codecov can look at the PR checks status to post the comment once all tasks have been completed. But I'm not sure how codecov does the matching.

[2018-11-03 20:08] epruesse opened #142 "404 on `-k prefix` help url"
The URL given in the script below leads to a 404:

[code]

[2018-11-05 00:50] jayvdb commented on #56
https://github.com/codecov/codecov-bash/pull/138 helps with this

[2018-11-06 11:20] lucavallin opened #143 "What is the your-repository-upload-token?"
I see that I need to add that token there, but nowhere does it say which token and where does it come from.

Is it a Codecov token?
Is it a GitHub token?
It it a TravisCI token?

What token and where do I get it?

[2018-11-07 16:43] scopelf opened #144 "Consider adding google cloudbuild as supported CI provider"
We are moving from travis to [google cloudbuild](https://cloud.google.com/cloud-build/docs/) as CI and we would love to keep Codecov. Cloudbuild has a list of environment variables, see [here](https://cloud.google.com/cloud-build/docs/configuring-builds/substitute-variable-values),  which seem to be sufficient to run Codecov when comparing them to the environment variables from other supported CI

[2018-11-15 10:37] benjefferies opened #145 "Failing to upload reports"
I am trying to push some reports to codecov via our pipeline in codecov.io using the docker image `rkostrzewski/codecov`.

The commands I'm running are:

[code]

From this the output I see is
[code]

[2018-11-15 13:33] benjefferies commented on #145
The cause was a bad substitute into the URL. Resolved by adding verbose logging with `-v` and manually running the commands

[2018-11-15 13:33] #145 closed

[2018-11-20 17:29] eps1lon commented on #137
CircleCI is affected by this as well: #134. At least CircleCI has the correct SHA already as an environment variable set. Maybe jenkins provides a similar helper?

[2018-11-21 22:04] goenning opened #146 "failing to upload report to codecov"
[code]
By looking at https://github.com/codecov/codecov-bash/issues/59, I suspect this is a codecov issue since nothing has changed on our side.

Source: https://circleci.com/gh/getfider/fider/5068

[2018-11-21 22:21] pavelkryukov commented on #146
https://codecov.io/bash returns 503 error page, which starts with ```<html>``` obviously.

[2018-11-24 12:14] ADmad commented on #133
I am surprised a critical issue like this hasn't been fixed yet :disappointed:.

[2018-11-29 18:17] vip32 opened #148 "failed to upload with azure devops CI"
I see many 'Failed to upload' and retries in the log below. It just ends with a HTTP 400 code. Also a required property seems missing. but which one? I have the bash file in my git so i start it from there (instead of downloading it on the fly, the curl way). runtime environment is an azure devops ci pipeline with a bash task. any insight would be helpfull.

according to the docs this should be a

[2018-12-05 05:34] e-e-e opened #149 "Cannot use absolute paths when setting the config file via -y"
At the moment the bash script assumes that any file passed via -y is relative to the repo root.

When dynamically generating the yml to be read by codecov we are currently using a temporary file created by mktemp which is not beneath the repo root.

This issue is fixed in the PR - https://github.com/codecov/codecov-bash/pull/147

[2018-12-13 18:42] carusology opened #150 "`-Z` is not respected if failure occurs during "Uploading Report" step"
**Background**

According to the documentation, `-Z` should do the following:

However, during the "Uploading Report" step, it is possible to get back a `402 PAYMENT REQUIRED` response that looks like the following:
[code]

When that occurs, the `codecov` script still exits with a code of 0 instead of 1 even when `-Z` is defined.

**Problematic Code**

[Here's a link](
https://github.com/codecov/c

[2018-12-14 12:54] prijindal commented on #133
Can confirm this issue with travis
In travis.yml
[code]

in coverage.sh
[code]

Output what i am getting
[code]

[2018-12-14 14:15] prijindal commented on #133
jobovy/galpy@01f0256 seems to work even for me.
I simply replaced ```curl -s https://codecov.io/bash | bash``` with
[code]

[2018-12-21 04:19] LukeTrynchuk commented on #59
I too can confirm this same issue has occurred for me.

[2019-01-02 21:54] billburgess opened #154 "Uploads fail intermittently"
I've been having trouble when using the bash uploader with Jenkins. I've output the upload logging to verbose and I keep seeing the same error over and over.

```curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)```

I can't quite seem to reproduce it cleanly every time. My test suite runs and it seems to work sometimes and fails others. I have 4 targets that run and upload

[2019-01-02 21:56] billburgess commented on #154
Here is some output from the very end of the failed upload.

[code]

[2019-01-08 22:00] karkum commented on #154
We're seeing the same issue here: `curl: (92) HTTP/2 stream 1 was not closed cleanly: PROTOCOL_ERROR (err 1)` and `curl: (22) The requested URL returned error: 403`. Any updates on this or are there any recommended workarounds?

[2019-01-08 22:14] karkum commented on #154
I was able to get around the issue by adding `-X s3` as a parameter to the script, but I'm not sure what side effect that has.

[2019-01-16 12:54] elsid opened #160 "Codecov.io shows wrong coverage after upload using https://codecov.io/bash"
In [this](https://codecov.io/gh/yandex/ozo/tree/8571d9f8573da63aef23b79a144ce65f65855d00/include/ozo) for [this](https://codecov.io/gh/yandex/ozo/src/8571d9f8573da63aef23b79a144ce65f65855d00/include/ozo/native_conn_handle.h#L19) line codecov.io show zero coverage. But both .gcov files and report sending through [codecov.sh](https://gist.github.com/elsid/aa0a013ed7d2b345882f5803e5c3fd37) contain on

[2019-01-17 20:51] pchong90 opened #161 "failed to upload in TravisCI when `Appending build variables`"
command used
[code]

output from uploader
[code]
It seems like it has issue parsing the `TRAVID_CMD` enviroment

[2019-01-26 21:42] samwalls opened #162 "new codecov.io/bash script broke my coverage on travis-CI"
I've spent much of today upgrading and re-downgrading my compiler versions, test runners, gcov, etc. as my coverage suddenly went from 75% to 44%. First I thought it might have been some issue with my codebase, however I don't think this is the case.

I went into travis, and restarted an old build - this means the build was on the same commit for my project, same travis script etc.. The only possi

[2019-01-31 16:45] a2wagner commented on #162
I can confirm this issue. I spent much time on figuring out why the Travis build of a project suddenly failed when running the coverage part. The build was cancelled because the log limit was exceeded, the codecov script produced way more output than before stating "no executable lines".

After some time of comparisons and triggering old builds which started to fail as well, I noticed the version

[2019-02-04 18:00] rgov commented on #84
I was going to file the same bug for `curl`. Is there a list of all the tools that the script relies on that are not, say, included in a base Debian image? Can these all be tested for by the script?

[2019-02-05 15:15] Ma124 opened #163 "Private token gets published with logs (#22)"
Like in Issue #22 your private token is printed to stdout.
https://gitlab.com/Ma_124/awesome-framework/-/jobs/156628364

At the moment I use this command to stop this:
[code]

[2019-02-05 21:02] alejandrovelez7 commented on #134
Was this fixed? I see some messages along the lines of: `Fixing merge commit SHA` when using the bash uploader. But we still see unexpected results when codecov runs on a PR with a merge commit as it's latest commit.

[2019-02-13 23:16] kontrollanten commented on #94
I solved this by generating my coverage report to XML file instead. In nose `--cover-xml` solves this.

[2019-02-13 23:35] kontrollanten commented on #148
[code]

This tells that the commit property is missing. That's sent as a query param to codecov to identify which commit the report should be associated with. If we look higher up in the log we'll find:

[code]

It looks like you don't have mercurial installed on the machine, which I guess is used to identify the commit. Try to install mercurial.

[2019-02-21 20:02] ADmad commented on #133
@stevepeak Are you no longer interested in maintaining this repo/project ?

[2019-02-22 23:33] marc-hb commented on #83
@sfgeorge  and I wish. This is totally not happening at for instance https://github.com/zephyrproject-rtos/zephyr/pulls. Unless the submitter constantly rebases, even for a fixing a typo, the codecov report for is:open requests is useless because polluted by a daily stream of newer and completely unrelated commits.

In other words all reports compare _PR with master_ instead of _comparing PR with

[2019-02-22 23:44] marc-hb commented on #83
One may suggest: "just rebase all the time". Sure, it's a mitigation. However:
- it's racy, so just a mitigation. There will still be broken codecov reports, just less frequently.
- github doesn't seem able to [filter out rebase noise](https://bugs.chromium.org/p/gerrit/issues/detail?id=217#c43). So a reviewer who has thoroughly reviewed version 5 of the submission and wants to focus on the differ

[2019-02-23 19:53] grawlinson opened #165 "script abruptly stopping on gitlab ci"
I'm just trying out Codecov & Gitlab CI, so I'm not too familiar with the tools. The script seems to fail without giving me an error message on a private repository (that I will eventually make public).

This is the `.gitlab.yml` file that I'm using:

[code]

And here is output of the gitlab job:

[code]

[2019-02-23 19:58] grawlinson commented on #165
Using `-R $CI_PROJECT_DIR` seemed to fix the issue.

Closing.

[2019-02-23 19:58] #165 closed

[2019-02-28 09:49] paveg opened #166 "Ruby: No coverage report found."
## Overview
I could not confirm output than "No coverage report found" .
I think that output is wrong but [script](https://github.com/codecov/codecov-bash/blob/master/codecov#L1010) has already searched `.resultset.json` .

Please, check it.

## Specs
[code]

## Example
- [codecov comment post](https://github.com/paveg/oura/pull/7#issuecomment-460290574)
- circleci summary: [summary](https://circl

[2019-03-01 05:47] doublnt opened #167 "Is there conflict with Ignore and Flags in codecov"
[code]

why the result does not show the flag reports?
and how can i ignore test code? use ignore attributes?

[2019-03-01 06:00] ellio167 commented on #126
Agreed, https://github.com/codecov/codecov-bash/commit/1ac948214de2ebf4b9a5a764bf428f932457f296, is causing a problem for https://github.com/openkim/kim-api/commit/cc5c14a41636b7a30006f5915b435d677e294f59 too.

[2019-03-08 02:25] #136 closed

[2019-03-11 02:06] doublnt commented on #167
Actually, there is a conflict between the two sections.

[2019-03-11 02:06] #167 closed

[2019-03-18 14:02] nhooyr opened #169 "do I need to do anything for GitHub actions?"
Hi, I'm running this inside GitHub actions.

Do I need to pass a token or set anything so it can figure out the CI?

[2019-04-20 01:51] will-weston commented on #100
This still seems like a problem, followed instructions here:
https://docs.codecov.io/docs/testing-with-docker
but the bash script was unable to locate the `codecov.yml` located in `pwd`
Current directory structure in the container:
[code]
Current script not finding the yaml file
[code]
I'm currently using this work around.
[code]

[2019-04-22 21:38] marc-hb commented on #83
For zephyr the "solution" was unfortunately to disable/remove the codecov spam.

[2019-04-27 06:35] dreampiggy opened #170 "Travis-CI macOS environment's `curl` seems cause the codecov uploader failed due to network issue of HTTP/2"
I'm using codecov with [Travis-CI](https://travis-ci.org/), it provide a macOS environment and I'm developing the iOS/macOS based framework.

Recently (from March maybe), we're facing quite more frequently codecov upload failure issue, it seems about network environment, but have no exact reproduce step. But today, when I try to use `-v` option to see the exact reason, I found the interesting thin

[2019-05-01 23:31] codesuki opened #171 "GitHub releases"
We are calling codecov from bazel which uses sha sums to check if a dependency changed.
Right now the bash script located here https://codecov.io/bash changes for unknown reasons.
Diffing it shows that there is code from unmerged PRs inside (specifically https://github.com/codecov/codecov-bash/pull/158)

Is there any possibility that you can make releases in the future which we could depend on?
It

[2019-05-15 15:01] blueyed opened #174 "Fails with multiline environment variables (TRAVIS_CMD)"
https://travis-ci.org/antocuni/pdb/builds/532855282#L478:

[code]

This causes codecov-bash to fail then:
[code]

[2019-05-15 15:03] blueyed commented on #174
It happens because I include "TRAVIS_PYTHON_VERSION" in the command itself.

Here is output with `set -x` and `typeset -p`: https://travis-ci.org/antocuni/pdb/builds/532863006#L740

[2019-05-15 15:05] blueyed commented on #174
Duplicate of https://github.com/codecov/codecov-bash/issues/133.

[2019-05-15 15:05] #174 closed

[2019-05-15 15:14] blueyed commented on #133
Using `env -u TRAVIS_CMD …` (for Python) also works around it.

I was using `-n $TRAVIS_PYTHON_VERSION` to use it for the name.

But clearly this `printenv | grep` should be fixed..

[2019-05-16 07:33] Henryvw commented on #166
I am also having this exact problem

[2019-05-16 12:16] Henryvw commented on #166
In case it's useful to anyone: the documentation for Code Cov is confusing for a simple Rails repo. The Bash script seems to have a problem.

If you remove the Bash script from any CI run list (as the Code Cov orb instructions etc. tell you to do) and let the Codecov gem from the `spec_helper.rb` do the work, it works for me. In other words, ONLY add the gem and activate the gem in `spec_helper.rb

[2019-05-19 09:24] FantasticFiasco commented on #125
Another solution until we have a fix is to set the environment variables our self.

[code]

[2019-05-21 16:30] anilanar commented on #154
No activity since 5 months? This problem still happens.

[2019-05-21 16:32] billburgess commented on #154
I have been working directly with Eli on this issue. It’s moved to something else so you can close this ticket.

Bill

-----------------------
Bill Burgess
Co-Founder/Developer
Simply Made Apps
On May 21, 2019, 11:31 AM -0500, Anıl Anar <notifications@github.com>, wrote:

[2019-05-22 03:16] billburgess commented on #154
I've been working with people on the team and haven't gotten to the root of the problem just yet. It seems to happen a lot more frequently on my larger runs. I've since broken my build into smaller components and upload coverage after each smaller run and it seems to have helped. I've had other unrelated issues, but those aren't relevant to this issue.

[2019-05-26 14:35] felixfbecker commented on #148
I am using this YAML config which works:
[code]

[2019-05-31 15:49] kevinpapst commented on #161
Duplicate of #133 ?

[2019-05-31 15:56] pchong90 commented on #161
Yes, it is indeed a duplicate of #133.  If it has been fixed then I can close this issue as well.

[2019-05-31 15:59] kevinpapst commented on #161
Yes, I was running into the same issue while looking for a solution.
Strange that a company who wants to earn money with their service doesn't fix such an issue after more than half a year.

[2019-06-05 06:31] blueyed commented on #148
@felixfbecker
Thanks for sharing.
The branch however needs to be different for pull requests, and `${{ parameters.name }}` appears to be something custom on your side?
Docs ref: https://docs.microsoft.com/en-us/azure/devops/pipelines/migrate/from-travis?view=azure-devops#predefined-variables

Also passing in the PR via `-P` (and not `VCS_PULL_REQUEST`) does not trigger the fixing for merge commits

[2019-06-05 06:38] blueyed commented on #171
Apparently also the current version (Bash-8a28df4) is not in (public) Git at all?!

[2019-06-05 06:45] blueyed commented on #171
I think it is really not good to have something shipped that is not in this public Git repo in the first place, and really makes me want to vendor/sha-checking this myself in projects.

[2019-06-05 08:21] felixfbecker commented on #148
Good points. Yes the name is a template parameter, but that one is optional.

Even more arguments why this should be built-in.
Do you have an example for a perfect config?

[2019-06-05 08:23] blueyed commented on #148
The codecov part from https://github.com/pytest-dev/pytest/pull/5403 appears to work - currently debugging why coverage is missing for some files (also on Travis though; likely an issue with coverage-combine, so not really related).

[2019-06-05 08:24] blueyed commented on #148
@felixfbecker
It is built in already (https://github.com/codecov/codecov-bash/pull/158).

[2019-06-05 08:44] felixfbecker commented on #148
But that PR is not merged yet?

[2019-06-05 08:48] blueyed commented on #148
https://github.com/codecov/codecov-bash/issues/171#issuecomment-498957892

[2019-06-05 20:19] davidbeckingsale commented on #162
I think the change is caused by https://github.com/codecov/codecov-bash/commit/1ac948214de2ebf4b9a5a764bf428f932457f296. Looking at the diff, it seems like the switch from to `execdir` is the culprit.

You can see this comparing `0b37652` and master: https://github.com/codecov/codecov-bash/compare/0b37652...master

I'm also observing this problem in multiple projects that use C++11, CMake and GCC.

[2019-06-11 06:18] HDembinski opened #176 "codecov upload suddenly stopped working, no error message"
I have been using Codecov successfully in [Boost.Histogram](https://github.com/boostorg/histogram) until a few days ago, when it stopped working. I don't know how to fix this, because I am seeing no error message.

You can see here in my Travis job, that the coverage data is generated and successfully uploaded without any errors:
https://travis-ci.org/boostorg/histogram/jobs/543750004#L898

But wh

[2019-06-11 06:20] HDembinski commented on #176
I should add that it stopped working globally. Even when I check out an older commit that used to generate a coverage report, I now get the same error message for that commit.

[2019-06-13 08:53] jmalloc commented on #154
FWIW I too am having this problem [under Travis CI](https://travis-ci.com/dogmatiq/verity/builds/115385004#L633). It seems to always work on the second attempt.

I've been wondering about decreasing the curl timeout and/or the 30 second sleep, just to make the builds a little more responsive (in my case, coverage uploading is responsible for 2m out of a 4m build), but it'd be good to know what's a

[2019-06-13 13:03] billburgess commented on #154
@jmalloc I've had better results since finding out that my codecov.yml wasn't formatted quite right. I ran it through yamllint.com and fixed some character that was in there causing problems and things improved quite a bit. It may not solve your issue, but helped mine.

[2019-06-14 12:17] pydolan opened #177 "Issues using "-f" option"
I was trying to upload coverage reports whose file names started with `.coverage` (e.g., `.coverage-unit-part1` and `.coverage-unit-part2`) and the uploader couldn't find any results.

Looking at the source for the uploader, I see an [exclusion](https://github.com/codecov/codecov-bash/blob/master/codecov#L1066) for files that start with ".coverage", so if this is related, maybe don't do the exclud

[2019-07-01 09:29] rafenden opened #178 "What's the difference between using codecov-bash and codecov-node?"
According to the [Codecov docs][1], the recommended way is using [codecov-bash][2] for any project:

So what's the advantage of using [codecov-node][3] for Node.js projects?

Why [codecov-node][3] even exists if it's considered to be a bad practice?

  [1]: https://docs.codecov.io/docs/about-the-codecov-bash-uploader
  [2]: https://github.com/codecov/codecov-bash
  [3]: https://github.com/codecov/

[2019-07-10 09:53] hjpotter92 opened #182 "The token is written out to logs"
---

This is the output from when coverage is uploaded using the orb:

[code]

The section `<< TOKEN-LIES-HERE >>`  is output to the logs, and is visible for anyone to read.

Most likely due to the echo statement here: https://github.com/codecov/codecov-bash/blob/4678d212cce2078bbaaf5027af0c0dafaad6a095/codecov#L1495

[2019-07-10 20:06] tonygoold opened #183 "Spaces in paths are not handled during "Reading reports" step"
My iOS project has a "Third Party" directory in it. While running codecov, it halts with an error like the following:
[code]

[2019-07-18 20:17] tvdijen commented on #133
I hate doing this, but... BUMP!

[2019-07-29 21:20] anthonyhastings commented on #117
@Midnighter Thank you very much for sharing this. You bailed me out of a hole trying to implement this into a `Makefile`. It would definitely be a good idea to incorporate instructions on how to put this into a `Makefile` into the documentation.

[2019-07-29 21:40] Midnighter commented on #117
Glad it was of help to you :slightly_smiling_face: I must admit, though, that I switched to generating a coverage report inside and uploading it outside the container for most of my projects. Example:

[code]

[2019-08-03 13:33] szepeviktor opened #185 "Introduce shellcheck"
Please consider running shellcheck like in https://github.com/kward/shunit2/blob/master/.travis.yml#L24

[2019-08-03 13:37] szepeviktor opened #186 "Please provide a digital signature"
See the real danger in https://twitter.com/pear/status/1086634389465956352
and https://github.com/pypa/get-pip/issues/41

Related https://github.com/codecov/codecov-bash/issues/171

[2019-08-03 13:38] szepeviktor commented on #186
You could consider placing the bash script and the signature on very different platforms.

[2019-08-03 22:02] drazisil opened #187 "Have bash uploader validate config prior to upload"
The uploader should automatically validate any `codecov.yml` file it detects or is passed by using the validation endpoint [1]. It's currently tagged in the codebase as a TODO [2]

[1] https://docs.codecov.io/docs/codecov-yaml#section-validate-your-repository-yaml
[2] https://github.com/codecov/codecov-bash/blob/master/codecov#L918

[2019-08-08 01:37] wilzbach opened #188 "Frequent platform unavailability"
![image](https://user-images.githubusercontent.com/4370550/62668910-ee3ccc80-b98d-11e9-848c-b8ec3211ebcf.png)

https://circleci.com/gh/storyscript/storyscript/565

Happens very often lately.

[2019-08-08 09:30] astrofrog opened #189 "Upload from Azure Pipelines doesn't have correct PR number set"
I am trying to use the bash script from https://codecov.io/bash to upload coverage reports from Azure Pipelines, and the upload itself works, but in the codecov dashboard it looks like the commit came from a merge into master when in fact it came from a pull request. I think one of the issues might be the naming of the environment variables. In the script, I see:

[code]

Whereas running ``env`` o

[2019-08-08 09:39] astrofrog commented on #189
Just to confirm, making these changes fixes the reporting of the coverage. It looks like the bash script in this repository is out of date compared to https://codecov.io/bash so I wasn't able to open a PR.

[2019-08-08 19:21] roystgnr commented on #162
This appears to be the same bug that hit us a while ago at https://github.com/libqueso/queso/pull/665 - thanks to @davidbeckingsale for the workaround at https://github.com/LLNL/RAJA/pull/611; hopefully that'll work for me too.

[2019-08-10 04:42] donmccaughey commented on #162
This bit me as well recently. I picked up a personal project this week that I last touched in October 2018. Spent an evening tearing my hair out trying to figure out what broke.  Thanks @samwalls, @a2wagner, @davidbeckingsale and @roystgnr for the confirmation and work-around.

The magic fix for me was to change

    bash <(curl -s https://codecov.io/bash)

to

    bash <(curl -s https://raw.githu

[2019-08-10 20:16] blueyed commented on #188
Not an issue with codecov-bash itself.

[2019-08-10 22:45] drazisil commented on #82
Tests are failing due to the way the uploader detects tests. The URL to compare against will have a different SHA during the `pr=` tests on the patch and pr jobs.

This will require thinking to determine how to pass both cases.

[2019-08-11 02:40] drazisil commented on #82
Finally passing.

[2019-08-11 02:40] #82 closed

[2019-08-11 15:27] drazisil commented on #171
I plan to get a proper pipeline going for this reason, and #186

For now, https://github.com/codecov/codecov-bash/pull/195/commits/ee8b77c38a585cec90f9b2bebe573e36b7a482bc is the current file in production.

[2019-08-12 10:22] PhilippeBoisney commented on #188
Same problem here...
![image](https://user-images.githubusercontent.com/6847959/62858864-d0f45f00-bcfb-11e9-9727-dc844bee7bc2.png)

[2019-08-13 11:41] vearutop commented on #188
Same for me, failing/retrying to upload to `codecov` takes more time than actual tests!
@blueyed do you mind directing to a proper place for support?

[2019-08-13 15:04] thomasrockhu commented on #188
@vearutop if you are still seeing this problem, please open an issue at community.codecov.io

[2019-08-19 07:41] PhilippeBoisney commented on #188
The opened issue: https://community.codecov.io/t/upload-timeouts/448

[2019-08-19 21:31] Pr0methean opened #197 "Upload from Azure Pipelines fails for 10 minutes"
On Microsoft-hosted Azure Pipelines, uploads often fail repeatedly for several minutes. Here is one example:

[log_119_960.zip](https://github.com/codecov/codecov-bash/files/3517757/log_119_960.zip)

This seems to happen more often if I've been running a lot of tests in recent hours. Today I was running the unit tests more than usual and uploading more than usual, because the unit tests were passi

[2019-08-21 18:00] nburek opened #198 "Uploads failing for public GitHub packages from TravisCI"
We have started experiencing failures uploading the code coverage reports for several of our GitHub packages using TravisCI. These packages were able to upload a couple of days ago, but are now failing because they claim they need a token.

Here is how we call codecov:
`bash <(curl -s https://codecov.io/bash) -Z -F "${ROS_DISTRO},ROS_${ROS_VERSION}"`

Here is the output of the codecov-bash script:

[2019-08-22 17:55] jmarrero commented on #198
@nburek seems to be working now on my projects. No idea on what got fixed. Maybe something on the travisci side.

[2019-09-08 20:41] sschuberth commented on #161
@pchong90, actually, since you've confirmed this to be a duplicate of #133, you should close this one already now and subscribe to #133 instead. That said, I have #200 for review to fix #133.

[2019-09-24 13:49] #186 closed

[2019-09-24 13:56] szepeviktor commented on #186
@drazisil Thank you for providing the hash.

Could you make it available for a script too?

[2019-09-24 17:40] drazisil commented on #186
@szepeviktor   Could you describe more what you are looking for? Do you mean as a separate, fetchable file?

[2019-09-24 18:07] szepeviktor commented on #186
@drazisil Yes. Please see the link at the top. I would be ideal to host the bash script on infrastructure ans the hash on another one.

[2019-10-01 01:55] #161 closed

[2019-10-04 09:26] macgills opened #210 "Coverage reports not applying across modules"
I have run into a problem with the modularisation of [kiwix](https://github.com/kiwix/kiwix-android) in particular on this [PR](https://github.com/kiwix/kiwix-android/pull/1541).

We rely on the coverage reports generated by our unit tests and instrumented tests to get the overall report for the project. This worked great (thanks a lot btw) on a single app module as the tests instrumented/unit liv

[2019-10-07 16:27] artplan1 commented on #182
@hjpotter92 are you sure this issue exists because according to https://github.com/codecov/codecov-bash/blob/master/codecov#L1508 it should output `token=secret`

[2019-10-07 18:26] hjpotter92 commented on #182
@artplan1 compare the logs above with the code segment:

https://github.com/codecov/codecov-bash/blob/4678d212cce2078bbaaf5027af0c0dafaad6a095/codecov#L1489-L1495

[2019-10-07 18:51] artplan1 commented on #182
provided code is not latest. Deployed version has different code with `queryNoToken`

[2019-10-07 20:06] hjpotter92 commented on #182
But as you can see, there is no `say` call after `say "    ${e}->${x} Pinging Codecov"` in the old code, yet the url is being written out. Most likely (as mentioned in my first comment in this thread) it is due to the `echo` statement later:

    status=$(echo "$res" | head -1 | grep 'HTTP ' | cut -d' ' -f2)

[2019-10-11 08:56] espipj commented on #182
As @artplan1 said, the provided version of the code is not the latest where it is fixed:
https://github.com/codecov/codecov-bash/blob/master/codecov#L1515-L1526

[2019-10-12 22:14] kayleneciman commented on #210
Don’t agree

[2019-10-14 08:40] macgills commented on #210
@kayleneciman could you elaborate?

[2019-10-17 14:35] macgills commented on #210
From my own SO question https://stackoverflow.com/questions/58415184/is-it-possible-for-instrumented-tests-to-create-coverage-for-a-library-module/58435071#58435071 pretty sure it is just impossible. Put your tests in the right module.

[2019-10-17 14:35] #210 closed

[2019-10-21 17:34] kbakk commented on #91
I'm seeing this error as well, however it succeeded with the report upload. I'm on `node:12-alpine`, having used `apk add --no-cache git curl bash` to be able to run codecov-bash. Adding `findutils` fixed this for me.

[2019-10-22 20:55] matteinn commented on #183
Is there an ETA for this PR to be merged?

[2019-10-24 20:58] #133 closed

[2019-10-25 12:37] Dagefoerde opened #215 "Codecov.io UI not resolving submodule paths in GitHub"
Hi,
I have a configuration that (maybe excessively...) makes use of submodules. I can generate, upload, and view coverage reports that were generated on Travis-CI and uploaded to codecov.io. However, the web UI at codecov.io only gives me an overview. I cannot enter single files and view their line coverage.

For instance: https://codecov.io/gh/wwu-pi/muli/src/aa6f1697a4dd513d1f3f811cf72b2f43c18cf

[2019-10-25 19:46] trivikr opened #216 "[CE-919] Add support for CodeBuild CI"
Refs: https://github.com/codecov/codecov-node/issues/139#issuecomment-546433239

This should be similar to https://github.com/codecov/codecov-bash/pull/199

[2019-10-25 19:47] trivikr opened #217 "Add support for Cirrus CI"
Refs: https://github.com/codecov/codecov-node/issues/139#issuecomment-546433239

This should be similar to https://github.com/codecov/codecov-bash/pull/199

[2019-10-25 19:48] trivikr commented on #216
Refs: https://github.com/codecov/codecov-node/issues/152

[2019-10-25 22:01] fkorotkov commented on #217
Duplicate of #127

[2019-10-25 22:02] fkorotkov commented on #217
Duplicate of #127

[2019-11-03 22:33] trivikr commented on #216
Any update on this request?

[2019-11-06 07:43] nmoinvaz commented on #55
If you use `-x “llvm-cov-3.8 gcov”` it should work. `gcov` should be part of the gcov-exec argument and not part of the gcov-args argument.

[2019-11-06 08:20] radekmie commented on #169
Hi @nhooyr. I guess this answer is no longer relevant to you, including the change of Actions syntax since March. I want to raise an issue that it's still **not** supported. I've successfully configured it using the `run` directive directly:

[code]

The thing is that it _should_ work, but there was no release after GitHub Actions support got merged in #199 and fixed in #218. It reports the covera

[2019-11-06 18:07] drazisil commented on #216
Merged, waiting on deploy, will let you know when.

[2019-11-07 21:58] ysaunier opened #221 "Bug with if statement according to shell's standards"
Hi team,

There is a little error with this if statement for the pull request number.
Ref: [codecov/codecov-bash#L755](https://github.com/codecov/codecov-bash/blob/416cd419528f74f77fbb4542241a0a79475cfc47/codecov#L775)

Should be :
[code]

[2019-11-12 15:19] zFernand0 commented on #83
Are there any updates on this issue?
We've had unexpected behavior for quite some time now and we captured it here: https://github.com/zowe/vscode-extension-for-zowe/pull/296#issuecomment-552892394

[2019-11-12 20:58] trivikr commented on #216
Any update on deployment?

[2019-11-13 09:11] KajdeMunter opened #223 "Bitbucket Pipelines Support"
Something went wrong with https://github.com/codecov/codecov-bash/pull/135 and now the `env` file does not contain a check for bitbucket.

I can create a PR if interested.

[2019-11-13 09:23] localheinz opened #224 "Upload fails on GitHub actions for public repositories when CODECOV_TOKEN is not available"
### Uploading code coverage from Travis CI and friends

According to the documentation at https://docs.codecov.io/docs/about-the-codecov-bash-uploader#section-upload-token, when using the coverage uploader with a _public_ project on

- TravisCI
- CircleCI
- AppVeyor
- Azure Pipelines

an upload token is not required.

For reference, see https://docs.codecov.io/docs/about-the-codecov-bash-uploader#

[2019-11-13 09:31] localheinz commented on #224
/cc @nat

[2019-11-14 11:11] leofeyer opened #226 "Broken pipe when appending adjustments"
When running the bash uploader in a GitHub action, an error occurs in the "Appending adjustments" step: `/dev/fd/63: line 1451: echo: write error: Broken pipe` This does not seem to affect the coverage stats on codecov.io. though.

[code]

The error occurs in line 1451:

https://github.com/codecov/codecov-bash/blob/ecb75bd56eb54daa825c8d9963a40c7da0698df8/codecov#L1451

Any idea what causes the is

[2019-11-15 16:04] nuhkoca opened #227 "HTTP 400 Invalid signature"
Hi all,

I am not sure if this is the right place for this. In any inconvenience, please let me know.

I am uploading my report via `CircleCI` and it generally finishes successfully. However, my reports are not uploaded on my repository under [codecov.io](https://codecov.io/gh)

**CircleCI config**

[code]

**CircleCI response**

[code]

However, webhook throws below error:

[code]

**Deliver requ

[2019-11-17 02:18] nuhkoca commented on #227
**Update**

Now it works but webhook response includes;

In addition to that, I am unable to see my coverage on [codecov.io](https://codecov.io/). It says;

**There was an error processing coverage reports.**

[2019-11-18 11:04] drazisil commented on #216
Yes, thank you for your patience. I was on vacation last week, but i confirmed today that this has been deployed.

[2019-11-18 11:04] #216 closed

[2019-11-18 14:00] drazisil commented on #95
This may be a bug in the python uploader, or it is handled differently. The bash uploader correctly handles CircleCI build URLs.

[2019-11-18 14:00] #95 closed

[2019-11-18 14:01] drazisil commented on #93
Closing stale issue, I'm not aware if this still being an problem.

[2019-11-18 14:01] #93 closed

[2019-11-18 14:04] drazisil commented on #121
Closing stale issue, I'm not aware of this still being an problem.

[2019-11-18 14:04] #121 closed

[2019-11-18 14:10] drazisil commented on #113
Closing stale issues, not aware of this still happening.

[2019-11-18 14:10] #113 closed

[2019-11-18 14:10] drazisil commented on #118
Closing stale issues, not aware of this still happening.

[2019-11-18 14:10] #118 closed

[2019-11-18 14:37] drazisil commented on #123
https://github.com/codecov/codecov-bash/blob/master/codecov#L1349-L1352

It looks like the `clean` flag only removes the uploaded reports.

[2019-11-18 14:41] drazisil commented on #217
Closing in favor of #127

[2019-11-18 14:41] #217 closed

[2019-11-18 15:47] drazisil commented on #128
Closing stale issue, I am not aware of this still being a problem

[2019-11-18 15:47] #128 closed

[2019-11-18 16:42] drazisil commented on #140
@pocmo when `require_ci_to_pass` is set, Codecov will wait for all non-Codecov checks to pass before posting.

You may be looking for `after_n_builds`.

I'd be happy to add this, can you please provide an example of how you would construct a Taskcluster build URL?

[2019-11-18 16:44] drazisil commented on #176
This is generally a server-side issue, not an uploader one.

I hope you are not still affected by this, but if so can you please open a ticket (if paid) so we can investigate?

[2019-11-18 16:44] #176 closed

[2019-11-18 16:49] drazisil commented on #129
Buildkite is now on the supported list in our docs.

[2019-11-18 16:49] #129 closed

[2019-11-18 16:59] drazisil commented on #223
Hi @KajdeMunter

It seems like it's here: https://github.com/codecov/codecov-bash/blob/master/tests/env#L107-L111

Can you explain more about what you see missing?

[2019-11-18 17:09] drazisil commented on #224
Hi @localheinz

This is currently a limitation of GitHub Actions not having an API for us to check.

We are tracking this request here: https://community.codecov.io/t/whitelist-github-action-servers-to-upload-without-a-token/491/8

[2019-11-18 17:09] #224 closed

[2019-11-18 17:12] localheinz commented on #224
Thank you, @drazisil!

I hope that this issue will be resolved soon.

[2019-11-18 17:12] drazisil commented on #227
Hi @nuhkoca

This is a server side issue, not an uploader one. I believe it's this issue https://community.codecov.io/t/open-issue-investigation-report-stuck-in-processing-unable-to-find-report-content-in-storage-archive/670/2

If you can follow the directions in that post and provide us your information we can investigate.

[2019-11-18 17:12] #227 closed

[2019-11-18 17:24] drazisil commented on #221
Hi @ysaunier

PRs welcome. It looks like it's a single space, am I correct?

Can you link me to these standards for bash you are quoting, I'd love to take a look.

[2019-11-18 17:28] drazisil commented on #223
Never mind, I missed that #225 was linked, taking a look now.

[2019-11-18 17:34] #223 closed

[2019-11-18 17:46] drazisil commented on #56
There are a couple open issues and PRs, but Appveyor does work. Closing this issue in favor of those.

[2019-11-18 17:46] #56 closed

[2019-11-18 18:19] drazisil commented on #143
Hi @lucavallin

I hope you figured this out; it is the Codecov upload token shown here https://docs.codecov.io/docs#section-getting-started

[2019-11-18 18:19] #143 closed

[2019-11-18 18:50] #110 closed

[2019-11-18 18:51] #188 closed

[2019-11-18 18:59] drazisil commented on #215
Hi @Dagefoerde

In the future, please file non-uploader bugs in our community at https://community.codecov.io/c/bug-fixes

I'll be closing this issue, but I did share it with the engineering team so they are aware.

[2019-11-18 18:59] #215 closed

[2019-11-18 23:21] drazisil opened #231 "Investigate way to automatically generate hash"
I would like a more automated way to generate the sha1sum.

[2019-11-18 23:37] Dagefoerde commented on #215
Hi Joe,
Of course! Thanks for caring and for forwarding it to the right people. By any chance, is there a link to a place where I can track the progress of this issue? Thanks again.

[2019-11-18 23:40] drazisil commented on #215
There isn't,  publicly, but if you can create a community post i can link it internally so we can let you know when there's an update.

[2019-11-19 08:16] Dagefoerde commented on #215
That would be wonderful. Here you go: https://community.codecov.io/t/codecov-io-ui-not-resolving-submodule-paths-in-github/713 Thanks and sorry again.

[2019-11-20 04:37] blueyed commented on #95
@drazisil
Ok.  Can you move the issue there then?
(This issue just documents / points out that they differ - I cannot say which is correct, but they should be the same)

[2019-11-22 00:19] nhooyr commented on #169
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:19] #169 closed

[2019-11-24 00:13] challgren commented on #91
I can confirm adding findutils fixes and resolves this issue.

[2019-11-25 17:36] drazisil commented on #216
This has been deployed, Thank you for your patience.

[2019-11-26 14:55] rhaschke opened #232 ""-f" option doesn't correctly upload the (single) tracefile"
We are using the [proposed method for C++ w/ cmake](https://github.com/codecov/example-cpp11-cmake#travis-setup-using-lcov) to generate a tracefile with lcov and uploading it with the `-f` option.
While locally, the generated tracefile produces a nice coverage report via `genhtml`, the [report uploaded to codecov.io](https://codecov.io/github/ros-planning/moveit/commit/d993faaccd979e3aa33799637d0a

[2019-11-28 01:02] audrey783 opened #234 "Nash I"

[2019-11-28 01:02] #234 closed

[2019-11-28 07:14] rhaschke commented on #232
The solution was to add the option `-R <base repo>` to indicate the base source folder.

[2019-11-28 07:14] #232 closed

[2019-12-01 14:31] Cyberbeni opened #235 "Swift on Linux doesn't work with default settings"
This is my current codecov step during testing on Linux:
[code]
I think the first line should be covered by the default options.
Link to full workflow: https://github.com/Cyberbeni/TypedNotificationCenter/blob/master/.github/workflows/run_tests.yml

[2019-12-02 16:20] maxim-pushchinskiy opened #236 "Typescript optional chaining"
Hi. Maybe I do something wrong, but I didn't find any configuration options to solve this problem. Seems, that `codecov` has wrong coverage calculation for typescript optional chaining. For example:
[code]
test for that
[code]
but coverage is still 50 %

<img width="529" alt="Screen Shot 2019-12-02 at 18 18 23" src="https://user-images.githubusercontent.com/20857095/69975661-45b00b00-1530-11ea-993

[2019-12-02 16:22] maxim-pushchinskiy commented on #236
Sorry, forgot to explain, that optional chaining is the new feature of typescript  https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#optional-chaining

[2019-12-02 20:34] slact opened #237 "Uploads fail from Cirrus-CI with 400 error"
This change appears to have broken uploading from Cirrus-CI. Previously, the output was
[code]

That is, even though the CI provider was not detected, the upload completed successfully.

Now, this happens instead:
[code]

This appears to have started about 8 days ago.  running the bash script after `export CIRRUS_CI=""` work again, so the backend is clearly refusing to accept the `cirrus` service.

[2019-12-02 22:21] hugovk opened #238 "Token priority: parameter, env var or yaml?"
There are at least three ways to give the token:

* Parameter: `bash <(curl -s https://codecov.io/bash) -t my_uuid`
  * Or `-t @/path/to/token_file`

* Environment variable: `CODECOV_TOKEN=my_uuid; bash <(curl -s https://codecov.io/bash)`

* In `.codecov.yml`:
[code]

If the token is given in more than one place, which one is used first? Which is the second choice and which last?

[2019-12-03 15:26] #237 closed

[2019-12-03 15:29] drazisil commented on #4
Closing stale issue

[2019-12-03 15:29] #4 closed

[2019-12-04 10:24] rolgalan commented on #137
We have exactly the same Jenkins configuration, and this problem keeps happening and it's killing our productivity. It fails most of the times in our builds.

I'm going to show a real example of my latest build, with my log of commits, in case this helps finding a solution.

We have base branch `develop`, which latest commit is the merge of `feature/ticket1`. From there we started two branches in

[2019-12-04 16:27] hugovk commented on #238
Looks like the priority is:

1. param-token
2. env-token
3. yaml-token

From some tests with editing the script to output the token, and trying some combos:

A

✅ param-token
❌ env-token

B

✅ param-token
❌ env-token
❌ yaml-token

C

✅ env-token
❌ yaml-token

D

✅ param-token
❌ yaml-token

[2019-12-05 11:32] andrew-aladev commented on #55
Same issue. Today `llvm-cov` from llvm 9.0 is not fully compatible with `gcov` from gcc 9.2.

I've compiled program using `clang` and tried to use `gcov`, received the following error:

```version '402*', prefer 'A83*'```

So we have to use `llvm-cov gcov` instead of `gcov`.

[2019-12-05 12:49] andrew-aladev commented on #55
My solutions looks like:

[code]

[2019-12-05 15:22] jayvdb commented on #14
Note it would be more realistic to get the [python library](https://github.com/codecov/codecov-python) added to more distros, as it already has [a few distros including it](https://repology.org/project/python:codecov/versions), and Python is typically easier to package for distros in a maintainable way, which includes running tests continuously.

[2019-12-05 16:58] hugovk opened #240 "GitHub Actions: which shell for Windows?"
What settings do we need to upload with GitHub Actions when running on Windows?

# With no `shell:`

[code]

gives:

[code]

These settings work for Ubuntu and macOS.

# Adding `shell: bash`

[code]

gives:

[code]

# Changing to `shell: cmd`

[code]

gives:

[code]

[2019-12-06 14:12] drazisil opened #241 "Bitbucket Pipelines not setting full SHA"
This is (part of) `printenv` (with OMISSIS on sensitive data):

[code]

_Originally posted by @Slamdunk in https://github.com/codecov/codecov-bash/pull/225#issuecomment-562528019_

[2019-12-06 14:14] drazisil commented on #241
This has been raised with Bitbucket here: https://jira.atlassian.com/browse/BCLOUD-19393, is currently not a high priority to fix.

https://github.com/codecov/codecov-bash/pull/225#issuecomment-562547224

[2019-12-06 14:16] drazisil commented on #241
Current workaround is to pass the uploader the commit SHA manually using `-C <SHA>`

https://github.com/codecov/codecov-bash/blob/master/codecov#L167

[2019-12-06 18:40] hparadiz commented on #100
Running into this problem as well. Our deployment strips .git entirely because the repo with history is huge but what we want to deploy is a small subset of that huge payload so we just send over the one version we want to actually deploy.

[2019-12-06 22:51] hugovk commented on #240
Thanks to @smac89 on [Stack Overflow](https://stackoverflow.com/a/59217429/724176), this works:

[code]

[2019-12-06 22:51] #240 closed

[2019-12-08 15:07] drazisil opened #243 "Check if Production branch is still used, or can be delated"

[2019-12-08 15:08] drazisil commented on #243
To address comments on https://github.com/codecov/codecov-bash/commit/9d42a8a64a2c14d73a53f9ed37d1e7752d8c9deb#commitcomment-36324361

[2019-12-09 09:01] Slamdunk commented on #241
I can confirm the workaround:
![immagine](https://user-images.githubusercontent.com/152236/70421813-e2136980-1a6a-11ea-9fb5-f5816b08f009.png)

[2019-12-09 09:08] Slamdunk commented on #241
@drazisil I don't trust Bitbucket enough to hope anything will move before next century: will you accept a PR to incorporate the workaround into codecov-bash?

[2019-12-09 12:05] Trim21 commented on #197
Same issues...

I have a stage with 10 jobs, and one of them frequently got `Failed to upload` and take about 10 minutes to upload.

[2019-12-09 12:47] drazisil commented on #241
Yep, if you code it and it passes tests, i will accept.

[2019-12-11 14:54] drazisil commented on #241
This is resolved by #247 , thanks to @Slamdunk

[2019-12-11 14:54] #241 closed

[2019-12-11 15:20] zbeekman opened #248 "macOS always fails for gcov CMake projects"
This may be a duplicate of #162.

On macOS `-execdir` and `+` bomb every time with:

[code]

Switching to `+` to `\;` results in finding the files and generating `*.gcov`:

[code]

A fix for this would be really nice.

[2019-12-11 15:23] zbeekman commented on #248
I can also confirm that changing `-execdir` to `-exec` but leaving `+` also fixes the issue, but all of the `.gcov` reports are dumped into the directory from which the script was called rather than the directory in which the `.gcno`/`.gcda` files reside.

[2019-12-11 15:31] zbeekman commented on #162
ping @stevepeak

[2019-12-11 19:43] drazisil opened #250 "Update AWS CodeBuild support to handle other providers"
https://github.com/codecov/codecov-bash/blob/master/codecov#L517

Currently AWS CodeBuild only supports GitHub repos.

[2019-12-12 15:10] drazisil opened #251 "Add test to handle codecov.yml detection and parsing."
I don't believe this part of the uoloader is tested, and it's quite an important part.

[2020-01-07 21:27] #124 closed

[2020-01-10 18:27] drazisil commented on #235
HI @Cyberbeni

To clarify, you are asking the bash uploader to convert the profdata to lcov for you?

[2020-01-10 18:31] drazisil commented on #238
That is correct, verified by looking at the code.

[2020-01-10 18:31] #238 closed

[2020-01-10 18:31] drazisil opened #252 "--quiet flag"
Source: https://community.codecov.io/t/please-add-flag-quiet-to-submission-script/178

[2020-01-10 18:33] drazisil commented on #236
Codecov doesn't generate the coverage report, this may need to be filed as an issue with the test coverage reporting you are using.

[2020-01-10 18:48] Cyberbeni commented on #235
Yes, just like how the script already handles the default settings output of running Swift tests via Xcode on macOS. https://github.com/codecov/codecov-bash/blob/cdd0d95b045e5dfcaa2aba9672314ade5ee941ff/codecov#L985

[2020-01-14 16:40] pilomat opened #253 "(3) Illegal characters found in URL on Upload API - Azure"
I've been having trouble when using the bash uploader with Azure Pipeline.

Specifications:
- JaCoco
- Maven

Here is the upload command I'm using for Azure-Pipeline.
`- bash: bash <(curl -s https://codecov.io/bash) -v
`

This is the no- verbose log:

`    -> Uploading
    X> Failed to upload
    -> Sleeping for 30s and trying again...
    -> Uploading to Codecov
    -> Sleeping for 30s and trying

[2020-01-17 19:23] focom commented on #149
+1 this is really needed

[2020-01-19 23:35] armano2 commented on #189
@drazisil is there anythink that we can do to help fix this issue, we recently moved out some projects from node uploader to bash.

[2020-01-19 23:43] drazisil commented on #189
Hi @armano2

I'm not sure why #158 was closed, looks like there was some discussion about the envs, but it was before i started focusing on this repo.

If you want to fix this in a PR, I'd be happy to review and merge if it works and passes tests. Otherwise it's on my backlog behind normal support duties.

[2020-01-22 18:25] codecog commented on #197
"Failed to upload, sleeping for 30 seconds". Takes around 9-10 minutes for this step of my CI pipeline to complete.

[2020-01-23 15:00] drazisil opened #254 "Create an option to only output SHA for use in downstream CI jobs"
Create an option to only detect and output the commit SHA for saving and passing back to the bash uploader via the `-C` flag in downsteam jobs where the .git repo is not present.

Note, this requires investigation since, whithout the source code, the bash uploader is unable to build the network section of the upload and Codecov may encounter issues parsing the report.

[2020-01-26 02:07] armano2 commented on #189
i did some small fix to it but i'm unsure how to test this, and as for my repo for time being i'm using as workaround

[code]

[2020-01-28 18:41] jfboismenu commented on #197
Originally I was not using the CODECOV_TOKEN env var and everything seemed to be working. Then I some point I started having numerous failures to upload like you did @Trim21 and @Pr0methean . At some point I tried setting CODECOV_TOKEN and it has been working ever since.

[2020-01-28 18:50] jfboismenu opened #255 ""FIND: Parameter format not correct" with bash script"
It seems like there something wrong with the `find` command when running `codecov.sh` on Azure Pipelines. I'm getting: `FIND: Parameter format not correct`.

As you can [see from my Azure CI build](https://dev.azure.com/shotgun-ecosystem/Toolkit/_build/results?buildId=1378&view=logs&j=aa2fd561-a338-5537-45ee-49ae22aea958&t=e43e00bf-4c36-5ae9-f191-9657409b0548&l=30), I'm getting this error.

I've v

[2020-01-28 18:54] codecog commented on #197
I ended up moving away from using bash and went with the node runner. No issue then and works every time.

[2020-01-29 01:02] drazisil commented on #189
Thanks, @armano2

This got lost in my email inbox.

[2020-01-29 01:10] drazisil commented on #125
Resolved by #138

[2020-01-29 01:10] #125 closed

[2020-01-29 14:55] #162 closed

[2020-01-29 14:55] #248 closed

[2020-01-30 21:10] drazisil commented on #149
@e-e-e Can you merge master into this patch so we can see if the tests pass?

[2020-01-31 20:29] Pr0methean commented on #197
@jfboismenu  CODECOV_TOKEN *is* set in my build. If it was set incorrectly, would the script tell me so?

[2020-02-05 21:48] njsmith commented on #255
This affects my project as well, and means we currently don't have any coverage on Windows. Is uploading coverage from Windows intended to be supported?

[2020-02-07 15:16] jwillemsen opened #264 "Problem with find on usage"
Within the codecov bash script it uses [find](https://github.com/codecov/codecov-bash/blob/585fef0b950c85f2b29de094aae58321b671a650/codecov#L919) which failed on my system, when isolating the usage of find on the commandline I get

[code]

Find I am using on OpenSuSE

[code]

What does work is

[code]

[2020-02-13 07:55] njsmith commented on #255
It looks like that error message comes from the Windows built-in `C:\Windows\System32\find.exe` tool, which is completely different from the Unix `find` utility. Some more details:

https://superuser.com/questions/1219129/unix-find-command-on-cmder-exe-in-windows

So possibly the problem is that azure pipelines changed their Windows configuration somehow and broke `find`?

[2020-02-25 11:21] code-schreiber opened #269 "Unexpected behavior of informational flag"
I'm having trouble using the `informational` flag in Codecov's configuration file:

![Screenshot 2020-02-25 at 12 04 53](https://user-images.githubusercontent.com/759086/75241956-74541f80-57c7-11ea-8842-f6de5860c84e.png)

Taking the info provided by the docs that should be enough to be able to merge a pull request without having Codecov's "check"
https://docs.codecov.io/docs/commit-status#section-

[2020-02-26 21:38] blueyed opened #271 "AppVeyor not detected anymore (regression)"
It seems like the script does not detect AppVeyor correctly anymore?
(AFAIK this used to work, but now failed on CI)

[code]

It worked 10 days ago:
[code]

[2020-02-26 23:40] Cyberbeni opened #272 "Empty line removals don't work for Xcode and Swift on Linux"
Here is one of my files on codecov: https://codecov.io/gh/Cyberbeni/TypedNotificationCenter/src/87289325976cdacb8d1a9a7aa7c540e4e55ca9c2/Sources/TypedNotificationCenter/Core/TypedNotificationCenter.swift
The github action that uploaded the coverage: https://github.com/Cyberbeni/TypedNotificationCenter/runs/471046396
The workflow for that action: https://github.com/Cyberbeni/TypedNotificationCenter

[2020-02-26 23:59] Cyberbeni commented on #272
Ah, this line (and 2 more places inside the if) are missing the .swift file extension: https://github.com/codecov/codecov-bash/blob/585fef0b950c85f2b29de094aae58321b671a650/codecov#L1507

[2020-02-27 02:49] jayvdb commented on #63
@drazisil I think this can be closed.

[2020-02-27 02:56] jayvdb opened #273 "Whitespace not rendering before URL (Cirrus CI)"
https://cirrus-ci.com/task/5957768351842304?command=main#L61 shows the follow message, but the whitespace between "at" and the URL is not shown when the entire line is not broken.

When I copy the line, the space is there.

There is whitespace in https://github.com/codecov/codecov-bash/blob/c71e656/codecov#L948

It is just not rendering nicely. :/

[2020-02-27 11:11] #63 closed

[2020-03-02 17:13] Flamefire commented on #271
@drazisil The issue already exists and is caused by the values of “APPVEYOR” and “CI” env variables containing “True” but are tested for “true”. I suggest to make the test case insensitive.

see https://community.codecov.io/t/bash-script-does-not-detect-appveyor/1094

[2020-03-02 18:23] drazisil commented on #271
This appears to have broke due to https://github.com/codecov/codecov-bash/pull/138

Which was to correct https://github.com/codecov/codecov-bash/issues/125

Does Appveyor keep changing the case?

[2020-03-02 18:24] drazisil commented on #271
`APPVEYOR - True (true on Ubuntu image) if build runs in AppVeyor environment`

No, apparently they are inconstant. Ugg.

[2020-03-03 07:40] Flamefire commented on #271
There is even a PR waiting to be merged for 11 days: https://github.com/codecov/codecov-bash/pull/268

[2020-03-03 13:51] #271 closed

[2020-03-04 14:57] drazisil commented on #253
Nothing looks out of place with that URI. Are you able to run that curl command locally without errors?

[2020-03-04 15:18] drazisil commented on #148
Closing what I believe is a stale issue, since uploading from Azure currently works.

[2020-03-04 15:18] #148 closed

[2020-03-09 20:52] #272 closed

[2020-03-10 23:17] theoribeiro opened #280 "Error processing coverage reports in GitHub Actions"
I have a monorepo that I'm trying to upload reports from but keep getting the dreaded "There was an error processing coverage reports." error whenever I upload from GitHub actions.

This doesn't happen when I upload from my computer instead.

My guess is that there is a problem with the paths, which I'm trying to fix in codecov.yml.

If I dump using `-d` I get something similar to the following ou

[2020-03-12 16:43] #280 closed

[2020-03-16 10:25] sylviamoss opened #281 "CircleCI is looking for .codecov.yml when the documentation suggest naming file without dot"
Hello there!

I added Codecov to a project using CircleCI to send the reports. When my codecov.yml file was named without the first dot CircleCI wasn't able to find the file. See the error below.

[code]
My circleci config is:
[code]
I renamed the codecov file by adding the dot and it worked.

There's an inconsistency with the documentation here https://docs.codecov.io/docs/codecov-yaml#section-ca

[2020-03-16 11:51] drazisil commented on #281
The docs are correct. I find it strange that the uploader said it found it, then `sed` failed.  Let me look into this,  thanks for the report.

[2020-03-16 13:43] sylviamoss commented on #281
When the name contains the dot the logs are:
[code]
Pretty much the same but without failing.
Anyways, it's working for me with the `.` so it's not something urgent. I'll be following this issue for updates. Thanks for replying really fast 👍

[2020-03-16 13:52] drazisil commented on #281
I believe it's choking on this:
https://github.com/codecov/codecov-bash/blob/master/codecov#L224-L239

Can you run without the dot, add the `-v` flag and share the full output? That will tell me if I'm correct.

I'm wondering if it's an indenting issue. Can you also share a commit SHA so I can make sure the YAML is actually making it though the system with no errors?

[2020-03-16 14:37] sylviamoss commented on #281
How can I add the flag to CircleCI command? CircleCI is responsible for writing it, I just add the step and the orb.

If it helps, I believe all the data you need is here (from previous builds):
[circleci build without dot](https://circleci.com/gh/hashicorp/packer/38768?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)
[circleci build with dot](https://circleci.co

[2020-03-16 14:41] sylviamoss commented on #281
[code]
I've just realized that the CircleCI command adds the `.`

[2020-03-16 14:51] drazisil commented on #281
Oh., you are using the orb. In that case I'll dig in further here, thanks for the examples.

@thomasrockhu Do we hardcode `.codecov.yml` as a default in the orb, and if so can we change that, please?

[2020-03-16 15:08] thomasrockhu commented on #281
@drazisil Yes I can add that to the next release

[2020-03-17 15:37] #281 closed

[2020-03-18 00:48] Madhusudhan-BR opened #282 "CodeCov not uploading coverage report"
I am trying to upload coverage reports to codecov using circle ci.
The report doesn’t seem to get uploaded

This is what i see on the console :

[code]

[2020-03-18 08:33] drazisil commented on #282
Can you please post this on the community forums?

[2020-03-18 08:33] #282 closed

[2020-03-20 13:11] drazisil opened #283 "Bitrise PR commit SHAs not correctly detected."
Bitrise appears to use a 12-digit SHA for PR runs that the uploader can't use.

A workaround from a customer:

`export CI_COMMIT_ID="$(git rev-parse HEAD)"`

[2020-03-21 14:10] drazisil opened #285 "We have two env files"
There is an env file in both the tests dir and the repo root. Are both needed? If not, which one is used?

[2020-03-31 14:47] earonesty commented on #83
Is there a workaround where we can specify the merge base to codecov?

[2020-04-05 00:25] jackgerrits opened #287 "Azure Pipelines token-less integration not working"
I am trying to use CodeCov with Azure Devops Pipelines and I am not able to get the tokenless authentication working.

When I run the bash uploader I get the following error:

https://dev.azure.com/vowpalwabbit/Vowpal%20Wabbit/_build/results?buildId=7919&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=9c939e41-62c2-5605-5e05-fc3554afc9f5&l=27177
[code]

I have tried this in a PR build from a fo

[2020-04-11 21:53] florimondmanca commented on #287
Also currently a bit stuck on this. Recently migrated to Azure Pipelines from Travis, used to work seamlessly there. 😕

Example build for the first error [here](https://dev.azure.com/florimondmanca/public/_build/results?buildId=263&view=logs&j=19e19748-210f-5216-2f09-8d3e86c90a2f&t=69495144-5e18-5e1a-4cc9-dac17380db7c).

I get the second error on PRs from forks only — not on PRs I open myself. See

[2020-04-11 22:03] florimondmanca commented on #287
Just managed to make it work by specifying `-C $(Build.SourceVersion)`:

[code]

Seems like Azure creates a temporary merge commit (visible in the "Checkout" step) which confuses with Codecov.

[2020-04-13 14:26] jackgerrits commented on #287
I tried using that and I still get the same error:

I have no visibility it seems as to what is causing it not to be found.

[2020-04-22 07:48] Maxwell2022 commented on #91
Similar error on our end with another flag:

[code]

[2020-04-29 08:06] #264 closed

[2020-05-01 02:29] SivaKesava1 opened #292 ""-f" option ignored by bash script"
I am trying to follow the https://github.com/codecov/example-cpp11-cmake to generate and upload the `coverage.info` to CodeCov. With `lcov`, I am able to generate the `coverage.info` successfully but the command `bash <(curl -s https://codecov.io/bash) -f coverage.info`  doesn't seem to work as intended. The `bash` is ignoring the `-f` option and then searching and generating the reports using `gc

[2020-05-01 02:43] SivaKesava1 commented on #292
I was using the `Piping` version and did not check the syntax mentioned in Readme.

[2020-05-01 02:43] #292 closed

[2020-05-01 18:13] matthewfcarlson opened #294 "Cannot run on windows based agents azure pipelines"
[code]

[2020-05-04 17:21] haampie opened #295 "Deploy a new release"
Could a new release be deployed? Current version lags behind master.

Thanks!

[2020-05-05 13:13] TriplEight commented on #285
By default, it looks for one in project's root.
You can specify which one to use with `-y path/to/codecov.yml` with an upload script.
For example:
`bash <(curl -s https://codecov.io/bash) -y scripts/codecov.yml -f lcov.json`

[2020-05-05 13:15] TriplEight opened #296 "How to avoid using an online script?"
It looks very insecure to `bash <something from the internet>` straight inside of CI.

Is there a good and sustainable way to avoid it? Clearly I can provide codecov.io with all info needed with my own script.

[2020-05-07 07:52] haampie commented on #295
bump

[2020-05-13 12:33] Kaspik commented on #226
+1 to this issue, it _seems_ like it's not breaking anything, but I believe it might be cause of random failures of the upload.

[code]

@drazisil Any timeline for this?

[2020-05-13 12:54] drazisil commented on #226
Hi @leofeyer , @Kaspik

I did some research on this a while back, then went on sick leave and forgot about it.

The details are covered here: https://unix.stackexchange.com/questions/156084/why-does-process-substitution-result-in-a-file-called-dev-fd-63-which-is-a-pipe

I don't believe it would account for the upload issues. We have a pretty good idea what causes those but every case is different.

[2020-05-13 13:40] Kaspik commented on #226
Adding one more example of the failure (might not be related as you said):

[code]

[2020-05-13 19:21] drazisil commented on #226
@Kaspik

That's completely different. What is the PR value in this case? It should just be the number, no letters or symbols

[2020-05-13 19:23] Kaspik commented on #226
PR #5438 in private repo.

[2020-05-13 19:31] drazisil commented on #226
No, in the upload query url. You dont need to share it, check if it matches that regex though. If not, you need to figure out why.

[2020-05-13 19:45] Kaspik commented on #226
I'm okay with sharing the output, there is nothing secret (and `token` is actually hidden). The weird thing is that the same run works on Re-run of the same commit usually.

[code]

CI is using `zsh` as default shell as it's macOS machine and `zsh` is default on Catalina.

[2020-05-13 21:13] tamj0rd2 opened #299 "codecov/patch is failing although the coverage has increased"
[Here's one affected PR](https://github.com/tamj0rd2/ncdc/pull/175), although I've noticed this issue for the past week now.

![image](https://user-images.githubusercontent.com/20561445/81866236-d1f63d80-9566-11ea-977a-a3a341b17017.png)

My [codecov.yml](https://github.com/tamj0rd2/ncdc/blob/master/codecov.yml) has a 0% threshold so I'm not sure why this is happening or what's causing it

[code]

[2020-05-14 01:52] drazisil commented on #226
`pr=refs/heads/messaging/InboxAccessibility`

This is not a valid PR number, something is messing with the envs being checked here https://github.com/codecov/codecov-bash/blame/master/codecov#L772-L778

This is not related to the original issue though, can you please move this issue to community.codecov.io if you are unable to solve it?

[2020-05-14 08:18] Kaspik commented on #226
Okay, there is still the error with broken pipe - so it's apparently multiple places.

For the second issue with HTTP 400, I created separate topic there: https://community.codecov.io/t/error-http-400-pr-must-match-pattern-github-actions/1411

[2020-05-17 21:17] haampie commented on #295
Thanks

[2020-05-17 21:17] #295 closed

[2020-05-22 11:15] nschloe opened #303 "allow .codecov.yml (hidden file)"
Basically all code meta tool config files are hidden or exist in a hidden variant, e.g.,
[code]
It'd be lovely if codecov would allow the config to be in `.codecov.yml`, too.

[2020-05-22 22:06] thomasrockhu commented on #303
Hi @nschloe this is now possible. I'll make a PR to update the documentation in this repo

[2020-05-22 22:07] #303 closed

[2020-05-22 22:20] nschloe commented on #303
Great, thanks!

[2020-05-24 17:36] danmx opened #304 "Busybox find doesn't support -execdir"
[Drone CI](https://drone.io) is using Busybox as their base image for their plugins, including codecov plugin.

Busybox's `find` doesn't support `-execdir` flag which prevents use of `codecov.yml` config file.
An example flag usage: https://github.com/danmx/codecov-bash/blob/49bb153/codecov#L1081-L1083

Related issue https://github.com/drone-plugins/drone-codecov/issues/17

[2020-05-26 14:32] kashyapm94 opened #305 "Provided token is not a UUID error with Gitlab CI"
I am trying to do code coverage for a flask app in Python and uploading it on the `codecov.io` platform. I am trying to upload it directly via Gitlab CI, but it doesn't happen. It keeps throwing the following error:

    HTTP 400
    Provided token is not a UUID.

I created an account on `codecov.io` and connected it to my gitlab account and selected a repository to work with. I added the token as

[2020-05-27 16:16] prem-prakash commented on #166
Same problem here

[2020-05-28 11:52] d-luk commented on #269
Same problem here. Seems to be a bug.

[2020-05-28 21:34] thomasrockhu commented on #183
Fixed via https://github.com/codecov/codecov-bash/pull/307

[2020-05-28 21:34] #183 closed

[2020-05-30 05:39] mlline00 commented on #287
I'm hitting the same error and, like jackgerrits, "-C $(Build.SourceVersion)" did not help.

[2020-05-30 15:15] jgrygierek commented on #154
bump...

[2020-05-30 16:27] nelsonic opened #309 "server certificate verification failed"
Greetings Codecoverers! 👋 ☀️

When attempting to use the bash command:

[code]
As per the docs: https://docs.codecov.io/docs/about-the-codecov-bash-uploader
Seeing the following error:

[code]

See: https://travis-ci.org/github/dwyl/ping/builds/692921771#L339
![image](https://user-images.githubusercontent.com/194400/83333645-7da6c980-a299-11ea-921a-b101ba145876.png)

This is similar to https://git

[2020-05-30 17:49] drazisil commented on #309
Hi @nelsonic

Thank you for letting us know. See https://status.codecov.io/incidents/0jn3p9dx9pkq for updates, I'll close this issue since it's not a bash issue.

[2020-05-30 18:04] nelsonic commented on #309
Hi @drazisil thanks for the prompt reply. 👍

Given that the issue will be seen by other people using the `bash` script
(_which is failing silently so it's definitely an issue ..._),
would it not make sense to keep the GitHub issue _open_ until it is resolved
so that other people can avoid opening a duplicate issue? 💭

I signed up to receive updates on the issue on the link you shared: (_thanks_)
!

[2020-05-30 18:08] drazisil commented on #309
@nelsonic Sure, I'll keep it open. All updates will be to the status page though.

[2020-05-30 21:04] hootener commented on #309
@nelsonic I'm closing this issue as we've resolved it on our end. Thank you for your thoughtful issue and follow up.

[2020-05-30 21:04] #309 closed

[2020-05-30 21:13] nelsonic commented on #309
@drazisil + @hootener thanks for informing that it's fixed and closing the issue. 👍

Confirmed working in latest build:
https://travis-ci.org/github/dwyl/ping/jobs/692968323#L387
![image](https://user-images.githubusercontent.com/194400/83339110-5dd7cb80-a2c2-11ea-9b26-493e48fed1df.png)

# 🙌

[2020-06-01 12:48] williamfgc opened #310 "Error in uploaded report from GitHub Actions"
I've been trying to debug this. I should be missing something in my workflow.
Report that is uploaded correctly from GitHub Actions CI, see log:
[code]

coverage.txt [supported formats](https://docs.codecov.io/docs/supported-report-formats)
[code]

codecov shows there is an Error:
https://codecov.io/gh/ORNL/ncio/commit/08e67baf2c0cd4677ecd10dabc0e918d0e089551

I looked into [fixing the file paths]

[2020-06-02 12:21] agboom commented on #304
Might be related to https://github.com/codecov/codecov-python/issues/243?

[2020-06-04 14:49] #185 closed

[2020-06-04 14:51] thomasrockhu commented on #310
Hi @williamfgc, could you open a ticket in our [community boards](https://community.codecov.io)?

[2020-06-04 14:51] #310 closed

[2020-06-04 15:01] williamfgc commented on #310
@thomasrockhu thanks for the reply. Actually I found the issue was that the coverage.txt gcov generated file is not supported. Using coverage.xml solved it. I'll stick with coverage.xml as the important thing is to have the report in codecov. Thanks!

[2020-06-04 15:03] thomasrockhu commented on #310
Awesome @williamfgc!

[2020-06-05 14:12] thomasrockhu commented on #305
Hmmm, @kashyapm94, would you be able to add a step in your CI pipeline to `echo $CODECOV_TOKEN`? I'm wondering if it's just not getting set properly

[2020-06-05 14:25] drazisil commented on #305
Another thing you can try, if you have the env set, you don't need the `-t $CODECOV_TOKEN` part, it will get detected automatically.

[2020-06-05 14:55] thomasrockhu commented on #304
Should be fixed via https://github.com/codecov/codecov-bash/commit/fe0c473257c372daf1324bd92028c5623d1421ec#diff-45b1150df0237fb1cb2a238a2d04554e

[2020-06-05 14:55] #304 closed

[2020-06-05 15:45] kashyapm94 commented on #305
@thomasrockhu

![Screenshot from 2020-06-05 17-44-41](https://user-images.githubusercontent.com/35066641/83896331-441c0580-a754-11ea-933e-4274c87b2185.png)

[2020-06-05 15:49] thomasrockhu commented on #305
@kashyapm94 looks like it's not getting set properly then? I would try @drazisil's comment

[2020-06-05 16:10] kashyapm94 commented on #305
You were right @drazisil. The protect was on. Thank you so much. It solved the issue :)

[2020-06-05 16:10] #305 closed

[2020-06-10 03:19] piotr-s-brainhub opened #316 "400 error"
I get a 400 error in this build https://app.circleci.com/pipelines/github/brainhubeu/issue-overseer/88/workflows/f3d168d6-981d-47ef-aea4-92505d68c386/jobs/187 though locally it works with the same token. No report is uploaded. However, the exit code is 0.

[2020-06-11 03:49] Trim21 opened #317 "azure pipeline got wrong branch name"
https://github.com/codecov/codecov-bash/blob/37b6ca9c8cd399d8c21c910a630980aa61bfb3f4/codecov#L816-L822

fix:

[code]

workaround:

[code]

[2020-06-24 04:36] mmcgr opened #321 "curl arguments set with -U are not passed to curl"
#313 seems to have broken passing arguments to curl. The curl arguments are now quoted, which means curl interprets the arguments as a single string:
https://github.com/codecov/codecov-bash/blob/40cebbd97b564cdf6577b617f42fe8109bc92c13/codecov#L1673

`codecov -U "--proxy http://http-proxy"` thus leads to `curl "--proxy http://http-proxy"`, which is not a valid argument.

[2020-06-25 12:05] edwardbeecroft opened #322 "swiftcov() exiting with no such file or directory since release -> 20200622-40cebbd"
Hi team,

Changes to `swiftcov()` method released with `20200622-40cebbd` seem to be causing issues for our bash uploader (which is invoked as part of a job within our CircleCI workflows, during the deployment process for our iOS app), and I was hoping you could advise.

In the job, we are calling `bash <(curl -s https://codecov.io/bash) -t {token} -J '{appname}'`

For a long time this has not pre

[2020-06-26 14:14] JosephDuffy commented on #322
I am seeing a similar issue when using https://github.com/codecov/codecov-action.

https://github.com/JosephDuffy/GatheredKit/runs/800364486?check_suite_focus=true was working, but it has since been failing, e.g. https://github.com/JosephDuffy/GatheredKit/runs/808596736?check_suite_focus=true

[2020-06-26 15:39] dmdashenkov commented on #166
I've been having the samee problem. However, it seems like for Ruby you don't need to use Bash script. Instead the `codecov` Gem does all the uploading itself.

For a simple case with `TestUnit` and `SimpleCov`, this worked for me:
[code]

If inspected carefully, this is exactly what the [example](https://github.com/codecov/example-ruby) suggests.

Hope this is helpful to someone.

[2020-06-26 23:05] thomasrockhu commented on #322
Hi @edwardbeecroft, we have made a fix [here](https://github.com/codecov/codecov-bash/pull/323) and will be deploying shortly.

As a workaround, you can use `bash <(curl https://codecov.io/bash | sed 's/"$beta_xcode_partials"//g')` until this is deployed to production. You can also pull the bash script from this repository which has the fix and run it locally

[2020-06-30 16:22] edwardbeecroft commented on #322
@thomasrockhu unfortunately neither the deployed change, or passing `| sed 's/"$beta_xcode_partials"//g'` as a param, fix it for us.

We still see line `220: {company}/g{appName}.app.coverage.txt: No such file or directory.`. I can't help but feel this `/g` in the path, that is not part of our app name, is causing issues?

When we download the script as it was in this release, 28 days ago, and run

[2020-06-30 16:58] thomasrockhu commented on #322
Hi @edwardbeecroft , would you be able to make a post in our [community boards](https://community.codecov.io) for this case? I'd like to be able to dig into why this is happening for you.

[2020-07-02 14:35] blueyed opened #330 "Errors when retrying: curl: (3) <url> malformed"
Codecov: Bash-20200629-ffaf297 on GitHub Actions.

[code]

[2020-07-03 14:10] ehmicky commented on #330
Same here:

[code]

[2020-07-03 18:43] get-data- commented on #330
My development builds began failing this morning. This is the command which I use to initiate the Codecov section of my pipeline:

`bash <(curl -s https://codecov.io/bash) -t "${CODECOV_TOKEN}" -f path/to/coverage.xml -Z`

I received the same error multiple times and it was working fine earlier in the week.

[code]

[2020-07-07 11:36] blueyed commented on #330
Caused by https://github.com/codecov/codecov-bash/commit/8f75c11c4146f819a12359b5035dced6b030cbcf, fixed in 1c82577
/cc @thomasrockhu

[2020-07-07 11:37] blueyed commented on #330
Closing as fixed by https://github.com/codecov/codecov-bash/pull/327 - please consider deploying it.

[2020-07-07 12:57] blueyed commented on #330
"curl: (3) <url> malformed" still happens with af362d8bc (current master) though:

[code]

[2020-07-07 14:30] thomasrockhu commented on #330
That's really strange @blueyed , I ran this locally and got

[code]

What is suspicious to me is that
[code]
this last line is empty. It makes me believe that there was an error case we don't handle when getting the presigned PUT from Codecov. If you are able to, @blueyed, would you be able to try to reproduce with the `-v` flag on as well?

[2020-07-07 14:47] blueyed commented on #330
Yeah, `s3target` appears to be empty there.
Code ref: https://github.com/codecov/codecov-bash/blob/285e646d950694ec1c91d0c6c3d8cf7089a41c2b/codecov#L1676-L1686

I've added `-v` now - this is not really reproducible though - but could certainly be triggered by messing with the script itself, of course.

[2020-07-07 14:49] thomasrockhu commented on #330
Thanks @blueyed! I'll mess around this week to try to catch it as well, thanks for your help here, as always.

[2020-07-14 09:49] Kaitou786 opened #333 "Error in stopping the comment when no coverage change"
From the [Documentation](https://docs.codecov.io/docs/pull-request-comments#requiring-changes) we've added this in our codecov.yml but still the comment is made on the PR. The comment even specify that there is no coverage change.
[code]
 Added this at the bottom of codecov.yml. We are also validating the yml. Don't know what we might me doing wrong.

PS: I'm not sure if this the right place to ma

[2020-07-14 13:06] thomasrockhu commented on #333
HI @Kaitou786, would you be able to make an issue in the #support section of our [community boards](https://community.codecov.io)?

[2020-07-14 13:06] #333 closed

[2020-07-14 13:21] Kaitou786 commented on #333
@thomasrockhu thanks for the reply, I've opened this in support section in community boards, =D

[2020-07-21 10:55] renanbandeira opened #336 "Bamboo provider is never detected"
I've tried to set all environment variables, but without success. I realized that bamboo variable is overriden on bash script and maybe this is the problem.

[2020-07-22 19:58] thomasrockhu commented on #299
Hi @tamj0rd2, I think there's a misunderstanding here of what `target` and `threshold` mean. [Target](https://docs.codecov.io/docs/commit-status#target) is the minimum coverage needed to be considered a success and [threshold](https://docs.codecov.io/docs/commit-status#threshold) allows for the wiggle room.

[code]
is probably all you need here.

[2020-07-22 19:58] #299 closed

[2020-07-24 23:17] thomasrockhu commented on #336
@renanbandeira can you provide a repository and build link?

[2020-07-25 10:27] renanbandeira commented on #336
Hi @thomasrockhu, my project has confidential terms, but I know the reason why this provider is dever detected (at least I think I do).
https://github.com/codecov/codecov-bash/blob/master/codecov#L80 this line overrides variable used to detect Bamboo. Plus, this is not the variable used by Bamboo (they use dot instead of underlines: https://confluence.atlassian.com/bamboo/bamboo-variables-28927708

[2020-07-27 19:16] #336 closed

[2020-07-27 22:39] thomasrockhu commented on #336
Hi @renanbandeira thanks for the work here, I merged a PR to fix this, and it should be deployed this week.

[2020-07-27 22:49] renanbandeira commented on #336
@thomasrockhu thank you! I was almost opening the PR, but I didn't have time to read what I had to do before opening the PR, such as tests and so.

I still have a problem that my PRs aren't receiving Git check status from codecov, but this is another issue and I don't think it is related to this script. Thanks!

[2020-07-27 22:56] thomasrockhu commented on #336
@renanbandeira if you open a ticket on our [community boards](https://community.codecov.io), tag me and I can take a look.

[2020-08-12 21:40] robmaceachern commented on #322
I believe we're experiencing the same issue. There is a `/g` being inserted in our app name.

[code]

[2020-08-12 21:51] robmaceachern commented on #322
@thomasrockhu I've opened a post here: https://community.codecov.io/t/bash-script-coverage-txt-file-not-found-no-such-file-or-directory/1872

[2020-08-16 14:01] A-Boudi commented on #166
Any news about this issue?

I'm using docker to run my tests. Given that the CI environment variables are not accessible inside docker, I'm extracting the coverage folder after the tests are run. But I can't send them given that the bash script is not supporting ruby simplecov.

[2020-08-17 22:55] #322 closed

[2020-08-19 16:52] ocurero commented on #330
Is there any news?

Mine is still failing

[2020-08-19 17:04] thomasrockhu commented on #330
@ocurero can you post a link to a build that is failing or the Codecov output?

[2020-08-19 17:57] ocurero commented on #330
Uhmmmm it failed with the same error as @blueyed, but now that I look it again it's failing for some other reason. I'm not sure if this is a consequence or is in fact a different issue. This is the output (the build ends OK even though the Z parm is used):
[code]
This is the command: `curl -s https://codecov.io/bash | bash -s -- -Zvt @/home/build/CODECOV_TOKEN;`

Thanks!

[2020-08-21 07:39] hugovk commented on #330
I've been getting a lot too, most recently at https://github.com/hugovk/pypistats/pull/139, using this in GitHub Actions:

[code]

(Others listed at https://github.com/hugovk/pypistats/issues/130, but I kept restarting and restarting until they passed.)

Should I add some logging? Or should https://github.com/codecov/codecov-action be more reliable?

[2020-08-24 18:15] evantorrie commented on #134
Still not fixed. Is this just a CircleCI issue?

[2020-08-27 00:12] rolandoldengarm opened #345 "AWS CodeBuild: CODEBUILD_SOURCE_REPO_URL is empty when triggered by pipeline"
When a CodeBuild is triggered by a CodePipeline, the variable `CODEBUILD_SOURCE_REPO_URL` is empty. However, the script assumes this variable to be set [here](https://github.com/codecov/codecov-bash/blob/master/codecov#L538).
I've tried to set this environment variable from the CodePipeline, but it's not allowed to add environment variables that start with CODEBUILD.
Also tried using `codecov-node

[2020-08-31 14:55] thomasrockhu commented on #134
@evantorrie would you be able to supply a circleci build URL?

[2020-09-01 00:13] evantorrie commented on #134
@thomasrockhu Here's an [example](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-go/3282/workflows/91d7f1e0-0449-4c98-871a-47c2d90a76c3/jobs/4748). Check the `Upload Coverage Results` step.

The corresponding commit was a "merge" from master into the PR.  Here's a [link to the PR](https://github.com/open-telemetry/opentelemetry-go/pull/1108).

[2020-09-02 17:26] thomasrockhu commented on #134
Thanks @evantorrie, this is going to take a bit of time to investigate properly to handle all use cases. For now, the workaround is to specify `-C $CIRCLE_SHA1`. I'll update here as we work through the issue.

[2020-09-02 21:17] evantorrie commented on #134
Thanks @thomasrockhu. Regarding using `-C $CIRCLE_SHA1`, it's unclear to me how to do this using the [Codecov CircleCI Orb](https://github.com/codecov/codecov-circleci-orb), since it seems to require passing an extra parameter which is not supported in the existing Orb code.

I opened https://github.com/codecov/codecov-circleci-orb/pull/48 to address this, but it doesn't appear that a reviewer has

[2020-09-15 15:25] thomasrockhu commented on #163
This has been fixed [here](https://github.com/codecov/codecov-bash/commit/d9f5f8cd1fed2db7a0520773f339a1a7c1d25689#diff-45b1150df0237fb1cb2a238a2d04554eR1508)

[2020-09-15 15:25] #163 closed

[2020-09-22 02:04] drazisil commented on #285
@thomasrockhu Did you figure this out?

[2020-09-22 02:16] thomasrockhu commented on #285
These are not the same `env` files. The one in `tests` is used for the tests, while the one in root is used by users running Codecov inside a Docker container

[2020-09-22 02:16] #285 closed

[2020-09-23 04:10] thomasrockhu commented on #316
Based on more recent [builds](https://app.circleci.com/pipelines/github/brainhubeu/issue-overseer/148/workflows/13b44c55-7dcf-4ca7-a4d6-4e795e37d02a/jobs/267), this has been fixed for you.

[2020-09-23 04:10] #316 closed

[2020-09-23 04:12] thomasrockhu commented on #296
You could download this script and check the `CHECKSUM`s provided. As it is open-source, you are welcome to use it to upload coverage reports. We would, unfortunately, not be able to support edited scripts.

[2020-09-23 04:12] #296 closed

[2020-09-23 04:13] thomasrockhu commented on #14
Going to close thisout as I don't think we will do it with the bash uploader. You can view progress towards something like this [here](https://github.com/codecov/uploader).

[2020-09-23 04:13] #14 closed

[2020-09-23 04:14] thomasrockhu commented on #68
Is this still an issue @sebastienvas @richistron?

[2020-09-23 04:26] sebastienvas commented on #68
Haven't used codecov and jenkins in a while. Probably outdated.

On Tue, Sep 22, 2020, 21:15 Thomas Hu <notifications@github.com> wrote:

[2020-09-26 02:05] ocurero opened #352 "Upload fails when tokens are passed in a file (ie, -t @MYTOKEN)"
Upload fails when tokens are passed in a file (ie, -t @MY_TOKEN) since commit 5577620

[2020-09-29 15:52] billburgess commented on #154
Any updates on this issue? I'm continuing to have issues. It has something to do with the bash uploader. I use `slather` to generate the cobertura.xml file. That part works fine. I can run the uploader and it will time out retrying 1, 2, 3 times. But it will eventually work with the same file. Most of the time I run it, if it doesn't upload in the first 10 seconds, I'll kill the run, try again. Mo

[2020-09-29 15:54] thomasrockhu commented on #154
@billburgess, we hope to deploy a fix for this shortly, thanks for your patience.

[2020-09-29 15:55] billburgess commented on #154
So this is a known issue with a fix coming sometime soon?

[2020-09-29 15:58] thomasrockhu commented on #154
@billburgess this fix is not in the bash uploader, but we have added some retry arguments [here](https://github.com/codecov/codecov-bash/blob/master/codecov#L1682) to help mitigate. If you are still seeing this, could you post a build URL from your CI/CD?

[2020-09-29 16:00] billburgess commented on #154
All of my projects are private repos hosted run on a private jenkins server. I can usually recreate this locally quite often if there is something you'd like me to send. But I'm not comfortable posting here.

[2020-09-29 16:01] thomasrockhu commented on #154
@billburgess fair enough, could you share the Codecov output with redacted values?

[2020-09-29 16:05] billburgess commented on #154
@thomasrockhu Are you looking for the complete --verbose output, or just the error output I see when it is retrying and failing?

[2020-09-29 16:11] thomasrockhu commented on #154
@billburgess Approximately from where the upload begins to the end of the output

[2020-09-29 16:27] billburgess commented on #154
_____          _
 / ____|        | |
| |     ___   __| | ___  ___ _____   __
| |    / _ \ / _` |/ _ \/ __/ _ \ \ / /
| |___| (_) | (_| |  __/ (_| (_) \ V /
 \_____\___/ \__,_|\___|\___\___/ \_/
                              Bash-20200917-4e8f14b

x> No CI provider detected.
    Testing inside Docker? http://docs.codecov.io/docs/testing-with-docker
    Testing with Tox? https://docs.codecov.io/docs

[2020-10-01 20:13] ruffsl commented on #100
FYI , it looks like the `-y` arg has since been deprecated:

https://community.codecov.io/t/option-y-in-bash-script-not-working-as-intended/1279/5

Looks like the search logic has been updated though:

https://github.com/codecov/codecov-bash/blob/9d9a1b61c04e8aea9ebb8c200d1fbc399eb6cc99/codecov#L963-L968

[2020-10-06 09:06] charleskorn opened #355 ""Appending adjustments" takes a long time"
I'm seeing a lot of time (~7 minutes) being spent in the "appending adjustments" step when using this with the Codecov GitHub Action. The codebase is quite small (less than 500 lines of Golang). Is this expected?

Sample builds: https://github.com/batect/abacus/runs/1213805213?check_suite_focus=true#step:11:40 and https://github.com/batect/abacus/runs/1213735685?check_suite_focus=true#step:11:40 (

[2020-10-06 11:43] thomasrockhu commented on #355
@charleskorn, would you mind running this with the verbose flag (-v) and opening up a ticket in the support section of our [community boards](https://community.codecov.io)? Closing this out to handle there.

[2020-10-06 11:43] #355 closed

[2020-10-06 19:38] thomasrockhu commented on #154
Hi @billburgess, we’ve made significant updates to our infrastructure to address the above issue. Please let me know if you are still experiencing this issue.

[2020-10-07 02:15] billburgess commented on #154
Seeing different errors now.

<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>408 Request Timeout</title>
</head>
<body text=#000000 bgcolor=#ffffff>
<h1>Error: Request Timeout</h1>
<h2>Your client has taken too long to issue its request.</h2>
<h2></h2>
</body></html>
HTTP 200
https://codecov.io/github/mycompany/myrepo/commit/hash'
++ echo '
<html><head>
<met

[2020-10-07 02:21] thomasrockhu commented on #154
@billburgess, would you be able to post more of the output?

[2020-10-07 19:21] thomasrockhu commented on #154
@billburgess you can email support@codecov.io and tag my name

[2020-10-08 20:51] brechtm commented on #226
In my CI runs, the broken pipe error seems to correspond to  coverage reports where different paths from different jobs aren't being detected as equivalent. For example: [this report](https://codecov.io/gh/brechtm/rinohtype/tree/8b80a38f61d9f48c521fea908b9b2d026b196ed3).

[2020-10-09 12:50] thomasrockhu commented on #226
@brechtm going to close this out. Can you open a ticket under `support` in our [community boards](https://community.codecov.io)? Also, thanks for bringing up this issue which is slightly different than the original problem here.

[2020-10-09 12:50] #226 closed

[2020-10-09 17:21] #352 closed

[2020-10-09 19:01] thomasrockhu commented on #21
Closing out due to age, and I believe is no longer an issue.

[2020-10-09 19:01] #21 closed

[2020-10-09 19:50] thomasrockhu commented on #198
@nburek, if this is still an issue please open a `support` ticket in our [community boards](https://community.codecov.io)

[2020-10-09 19:50] #198 closed

[2020-10-09 19:52] thomasrockhu commented on #178
`codecov-bash` is the most-updated uploader supported by the `Codecov` team and also the uploader most recommended. The other uploaders are community-driven but often solve for more specific cases. They can be easier to incorporate into a CI.

[2020-10-09 19:52] #178 closed

[2020-10-09 19:53] #182 closed

[2020-10-13 13:02] Gaspacchio opened #361 "Syntax error with Gitlab CI & Alpine Linux"
I can't upload reports to codecov using the bash uploader on my CI. I really don't have a clue but here is the last error that I got:

[code]

I'm runnning Alpine Linux edge. The last job can be seen here, the error starts at line 432: https://gitlab.com/gaspacchio/back-to-the-future/-/jobs/788140567

[2020-10-13 14:35] Gaspacchio commented on #361
Error solved, thanks to the magic of the almighty SO. If you are struggling with the same issue as me, just go take a look at this question: https://stackoverflow.com/questions/64337012/codecov-bash-uploader-eval-error-on-alpineedge-docker-image

[2020-10-15 18:51] Cyberbeni opened #363 "Incorrect parameter for storage.googleapis.com upload when trying to upload Xcode test result"
When running my tests on Linux, they upload directly to google storage: https://github.com/Cyberbeni/TypedNotificationCenter/runs/1260764308

But when running my tests on macOS, it fails every time like this:
https://github.com/Cyberbeni/TypedNotificationCenter/runs/1260764223
[code]
Then it correctly uploads to Codecov.

GitHub action workflow for the results: https://github.com/Cyberbeni/TypedNo

[2020-10-15 19:00] Cyberbeni commented on #363
Probably the same as #330

[2020-10-16 01:58] #361 closed

[2020-10-16 16:46] thomasrockhu commented on #91
Hi @Maxwell2022, if this is still an issue, please open a ticket in our [community boards](https://community.codecov.io).

[2020-10-16 16:46] #91 closed

[2020-10-16 16:47] thomasrockhu commented on #363
Hi @Cyberbeni, would you mind opening a ticket in the `support` section of our [community boards](https://community.codecov.io) for this?

[2020-10-16 16:47] #363 closed

[2020-10-16 16:52] thomasrockhu commented on #345
@rolandoldengarm, what happens if you set the `slug` using the `-r` argument described [here](https://github.com/codecov/codecov-bash/blob/master/codecov#L181)?

[2020-10-16 17:50] thomasrockhu commented on #197
I'm going to close this as we have made significant changes to our infrastructure around timeout failures. If this is still an issue, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-16 17:50] #197 closed

[2020-10-16 17:51] thomasrockhu commented on #189
Resolved via https://github.com/codecov/codecov-bash/pull/256

[2020-10-16 17:51] #189 closed

[2020-10-16 17:53] thomasrockhu commented on #177
@pydolan, if this is still an issue, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-16 17:53] #177 closed

[2020-10-16 17:54] thomasrockhu commented on #170
@dreampiggy, if this is still an issue, please feel free to open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-16 17:54] #170 closed

[2020-10-16 17:58] thomasrockhu commented on #160
@elsid, I'm sorry you're seeing that discrepancy and that we are only getting to it now. If you are still seeing this as an issue, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-16 17:58] #160 closed

[2020-10-19 07:42] waniwang opened #364 "Codecov not working on Gitlab after upgrading from from Bash-20200728-0626a90 to Bash-20201001-9d9a1b6"
Hi dear Codecov team, we are facing an issue after the codecov bash upgrades from **Bash-20200728-0626a90** to  **Bash-20201001-9d9a1b6**.

We are hosting Codecov in our company, the test coverage report works fine before the upgrade of **20201001-9d9a1b6**.
Now, whenever we tap on a file, it says `File not found` and we couldn't view the line-by-line test coverage details.

Any suggestions on res

[2020-10-19 07:44] #364 closed

[2020-10-25 12:24] LebedevRI opened #365 "S3 upload broken: "Error 411 (Length Required)!!1""
https://github.com/LebedevRI/rawspeed/runs/1304774769?check_suite_focus=true#step:5:15013

I think you need to specify the file size of the upload-to-be here:
https://github.com/codecov/codecov-bash/blob/10c38849417fa1522b9a7d4ba898afd956173cb8/codecov#L1693

[code]

[2020-10-26 08:42] brechtm commented on #226
The coverage reports for new commits do not exhibit the merging issue. I'll open a ticket on the community boards if the issue pops up again. Cheers!

[2020-10-26 20:30] jromero commented on #255
In our case, we had a custom runner on GitHub (using [codecov-action](https://github.com/codecov/codecov-action)) and as part of the setup we have cygwin installed with cygwin variables coming in last in the $PATH. Moving them to the beginning and restarting the service made it so that the unix style `find`executable is used.

Ideally, the script would auto detect the right binary to use and fail

[2020-10-31 12:06] JZubero opened #366 "missing required properties: ['commit'] on Travis CI"
When using the Bash Uploader the recommended way for Travis CI (plain `bash <(curl -s https://codecov.io/bash)`), I am experiencing a strange problem where "Pinging Codecov" retrieves a rendered HTML error page, claiming `missing required properties: ['commit']`.

![Screenshot](https://user-images.githubusercontent.com/13751426/97778747-8a498980-1b79-11eb-8120-ce85001e7fcc.png)

The rendered HTML

[2020-11-01 09:24] sirhill commented on #146
I am also having the same issue this morning.
I can also confirm that the server is done with a 503.

Just a strange error message. 😅

/dev/fd/63: line 2: syntax error near unexpected token `<'
/dev/fd/63: line 2: `<html><head>'

[2020-11-01 11:34] florimondmanca opened #367 "https://codecov.io/bash: 502 Server Error"
Hi! :wave:

When requesting https://codecov.io/bash, I am seeing an HTML page with a `Server Error`, rather than the actual bash script:

[code]

Started happening at least since today 11am (UTC+1). Makes my CI builds fail because my coverage script wouldn't be able to download and run the codecov bash script. Eg here's a sample of what I'm seeing on CI:

[code]

I'm going to see if I can allow fa

[2020-11-01 13:11] thomasrockhu commented on #367
Hi, it looks like we are currently having an issue but have deployed a fix. You can read more [here](https://status.codecov.io/incidents/36hpc8mjhqql)

[2020-11-01 13:11] #367 closed

[2020-11-01 13:11] thomasrockhu commented on #146
Apologies, we are rolling out a fix. You can view the status report [here](https://status.codecov.io/incidents/36hpc8mjhqql)

[2020-11-01 14:04] florimondmanca commented on #367
Thank you! Looks like everything is back on track, thanks for responding.

[2020-11-02 22:51] thomasrockhu commented on #366
Hi @JZubero, looks like this has been resolved as I can view the [commit page](https://codecov.io/gh/Level51/silverstripe-onesignal/commit/26f40845fc78b9065f004903534ba92ca7934da9). However, I see that we weren't able to process the report, and I think you'll need [path fixing](https://docs.codecov.io/docs/fixing-paths). Maybe

[code]

in a `codecov.yml` file. If you are still experiencing issues

[2020-11-02 22:51] #366 closed

[2020-11-03 20:49] thomasrockhu commented on #365
@LebedevRI, is this still an issue? I noticed a CI run [here](https://github.com/LebedevRI/rawspeed/runs/1343988366?check_suite_focus=true#step:10:12594) that looks good.

[2020-11-03 21:24] monu2125 opened #369 "Main tools"

[2020-11-03 21:26] monu2125 commented on #369
#368

[2020-11-03 23:51] #369 closed

[2020-11-04 03:31] nulano opened #370 "Github Actions running Docker not detected"
Using the [first example](https://docs.codecov.io/docs/testing-with-docker#codecov-inside-docker) for Docker doesn't work on Github Actions:
[code]

I believe this is due to a typo on the following line https://github.com/codecov/codecov-bash/blob/8b64f2c07d9ebc2ea2c61419009179945acbf044/env#L255

I think it should be `GITHUB_ACTIONS` instead, as that is what is used to detect it later on line htt

[2020-11-05 15:21] #370 closed

[2020-11-05 15:22] thomasrockhu commented on #370
@nulano, we will deploy this fix early next week

[2020-11-05 16:12] thomasrockhu commented on #294
If this is still an issue @matthewfcarlson, please open a ticket in our [community boards](https://community.codecov.io).

[2020-11-05 16:12] #294 closed

[2020-11-05 16:14] thomasrockhu commented on #287
Hi all, apologies for the delay in getting to this issue. However because of the age of the issue, I'm going to close out, but if it's still an issue, please open a ticket in our [community boards](https://community.codecov.io).

[2020-11-05 16:14] #287 closed

[2020-11-05 16:17] thomasrockhu commented on #273
@jayvdb, if this is still an issue, can you open a ticket in our [community boards](https://community.codecov.io)?

[2020-11-05 16:17] #273 closed

[2020-11-05 16:19] thomasrockhu commented on #269
Due to the age of this issue I'm going to close out. If this is still an issue, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-05 16:19] #269 closed

[2020-11-05 20:15] awhitford commented on #365
I started getting this -- yesterday, I think.  So, it is still an issue.

[2020-11-05 21:41] pgallen90 commented on #365
Also seeing this starting earlier today, same 411 / HTML error page as the other examples.

[2020-11-06 02:36] thomasrockhu commented on #365
@awhitford @pgallen90 just wanted to check, what CI/CD are you seeing this on?

[2020-11-06 03:32] pgallen90 commented on #365
Google Cloud Build, thanks!

[2020-11-06 03:33] awhitford commented on #365
@thomasrockhu I am seeing this with GitHub Actions against a Public Repo -- [here is an example](https://github.com/danvick/flutter_form_builder/actions).
[code]

[2020-11-06 13:39] #365 closed

[2020-11-06 17:59] awhitford commented on #365
@thomasrockhu Looks solved now.  Thank you!

[2020-11-08 06:19] awhitford opened #375 "Unable to find report content in the storage archive"
I have a Dart project using GitHub Actions and _some_ Codecov reports are unavailable.  Here is an example [run](https://github.com/danvick/flutter_form_builder/runs/1369492009?check_suite_focus=true):
[code]

The link https://codecov.io/github/danvick/flutter_form_builder/commit/36d104266019ccf4220552238e59716eb97fbeca does not go to a report.  Instead I get an error message:

This [repo](https:/

[2020-11-08 06:25] awhitford commented on #375
I now see that some reports are stuck [processing](https://codecov.io/gh/danvick/flutter_form_builder/branch/version_4/commits):
![image](https://user-images.githubusercontent.com/123887/98458643-cff0ee00-2147-11eb-9aec-24664a9643a3.png)

Is this an _outage_? ([Status](https://status.codecov.io/) looks good.) 🤔

[2020-11-08 17:08] awhitford commented on #375
I now see that if I am _really patient_, the reports will _eventually appear_:
![image](https://user-images.githubusercontent.com/123887/98471502-a664b080-21a1-11eb-932b-0a56de80363c.png)

**Is this _normal_?**

[2020-11-09 04:49] thomasrockhu commented on #134
@eps1lon, @alejandrovelez7, @evantorrie, we recently made some changes to the bash uploader here. Would you mind taking a look to see if this is still an issue?

[2020-11-09 05:01] thomasrockhu commented on #375
@awhitford, apologies we had a backup yesterday in our queue. This is not normal, and I appreciate your patience.

[2020-11-09 05:01] #375 closed

[2020-11-09 05:03] #68 closed

[2020-11-09 05:07] thomasrockhu commented on #74
@lplewa, this is a fairly old ticket. If this is still an issue, please open up a ticket in our [community boards](https://community.codecov.io).

[2020-11-09 05:07] #74 closed

[2020-11-09 05:10] thomasrockhu commented on #96
Closing out as this should be fixed now.

[2020-11-09 05:10] #96 closed

[2020-11-09 05:17] thomasrockhu commented on #150
I believe this has been fixed now, let me know if this is not true.

[2020-11-09 05:17] #150 closed

[2020-11-09 05:19] thomasrockhu commented on #171
We will be now be creating GitHub releases.

[2020-11-09 05:19] #171 closed

[2020-11-09 06:42] awhitford commented on #375
@thomasrockhu Thank you.  I thought there was a more serious bug going on.

Ideally, the page would report something like, "_Still processing_" or something to indicate to be patient.

[2020-11-09 08:45] eps1lon commented on #134
We're using `-C $CIRCLE_SHA1` now. I don't plan on testing if this is no longer necessary since `-C` has been working for us.

[2020-11-09 15:46] alejandrovelez7 commented on #134
@thomasrockhu We've transitioned to Buildkite since then so can't help out sadly! We got around this at the time by squashing our PRs too if that helps.

[2020-11-09 18:25] thomasrockhu commented on #243
Yes, `production` branch is now being used. Closing this out.

[2020-11-09 18:25] #243 closed

[2020-11-09 18:26] thomasrockhu commented on #236
Partial matches are also considered uncovered. Going to close this out @maxim-pushchinskiy. If this is still an issue, we can take a look if you open a ticket in our [community boards](https://community.codecov.io).

[2020-11-09 18:26] #236 closed

[2020-11-10 09:51] RobertoPrevato opened #376 ".gitignore file can break uploaded reports"
Hi,
The `.gitignore` file can affect the behavior of uploaded reports and make them unusable - I didn't see this documented in the parts explaining how to integrate using GitHub actions.

I know because:
1. in February 2020 I tried to give Codecov a try for my public projects in GitHub, and I wasn't able to make them work in any way
2. a few days ago I decided to try a second time, and I succeeded

[2020-11-10 11:27] natario1 opened #377 "400 - Tokenless uploads are only supported for public repositories"
I keep getting this error lately, see for instance https://github.com/natario1/CameraView/pull/992/checks?check_run_id=1379309033 . But it used to work. The error message also includes a link to codecov docs where you clearly say that token is not needed for GitHub Actions.

[2020-11-16 16:50] thomasrockhu commented on #377
@natario1, this is strange, as it's saying `Travis CI` is the one being detected. I'll take a look at it today.

[2020-11-16 16:59] natario1 commented on #377
Thanks @thomasrockhu . This repo was using Travis, but probably more than one year ago.

[2020-11-16 17:32] thomasrockhu commented on #377
@natario1 is there any chance you could run this with the `-v` flag on? I'd like to see the verbose logs.

[2020-11-16 17:34] thomasrockhu commented on #376
@RobertoPrevato would you be able to open a ticket on our [community boards](https://community.codecov.io) for this?

[2020-11-16 17:34] #376 closed

[2020-11-16 17:46] natario1 commented on #377
@thomasrockhu does this help? https://github.com/natario1/CameraView/blob/master/.github/workflows/build.yml#L10

We set TRAVIS env variable to true for historical reasons, other components depend on this value.
If this is the issue I can change it, but we always had this and codecov was working fine until a few months ago. Maybe you changed something in CI detection logic?

[2020-11-16 18:54] thomasrockhu commented on #377
@natario1, yes, we use the `TRAVIS` env variable to signal whether or not it's running on [Travis CI](https://github.com/codecov/codecov-bash/blob/master/codecov#L511). We have been fixing up long-hanging issues with the bash uploader with detection. Given that this variable should only be set by Travis CI, I'm going to close this issue.

[2020-11-16 18:54] #377 closed

[2020-11-16 18:56] thomasrockhu commented on #126
I believe this has been fixed via https://github.com/codecov/codecov-bash/pull/249, but if not, we do not use `-execdir` [anymore](https://github.com/codecov/codecov-bash/pull/249)

[2020-11-16 18:56] #126 closed

[2020-11-16 19:02] natario1 commented on #377
Sounds good, thanks!

[2020-11-18 08:44] RobertoPrevato commented on #376
@thomasrockhu I created a bug report here: https://community.codecov.io/t/gitignore-file-can-break-uploaded-reports/2330

[2020-11-20 01:22] jleoirab opened #379 "connect-timeout of 2 seconds is too small and causes report uploads to fail"
When using the bash uploader I have noticed that I get timeout exceptions because of the `--connect-timeout` value set for the "ping" curl command to get the bucket URL.

[code]

I can never successfully upload reports from my CI pipeline because the 2 seconds timeout is too small. I was able to successfully get the uploader script to work by increasing the timeout.

I considered overriding the de

[2020-11-28 03:37] thomasrockhu commented on #321
This has been fixed via https://github.com/codecov/codecov-bash/commit/799aefe6a793dcc60e5cdda5d2c9da8b8ff2e640

[2020-11-28 03:37] #321 closed

[2020-11-29 19:19] thomasrockhu commented on #254
@drazisil, I'm not sure I understand this one.

[2020-11-29 19:20] thomasrockhu commented on #253
Closing this out from age, @pilomat if this is still an issue, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-29 19:20] #253 closed

[2020-11-29 19:24] thomasrockhu commented on #251
@drazisil going to close this out as we don't do detection and parsing here anymore

[2020-11-29 19:24] #251 closed

[2020-11-29 19:27] awhitford opened #385 "Webhook fails with HTTP 400 Invalid signature"
I have a [fork](https://github.com/awhitford/flutter_form_builder) of [flutter_form_builder](https://github.com/danvick/flutter_form_builder).  The project uses CodeCov, and the fork inherited a webhook for CodeCov.

However, for my fork, under _Settings / Webhooks_, the CodeCov webhook is failing.  It looks like each call is returning with

I see an old issue #227, but it looks like it was resolv

[2020-11-29 19:27] thomasrockhu commented on #221
Closing as I don't believe this is relevant anymore.

[2020-11-29 19:27] #221 closed

[2020-11-29 19:32] thomasrockhu commented on #385
@awhitford, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-29 19:32] #385 closed

[2020-11-29 19:36] thomasrockhu commented on #166
I'm going to close this out due to age, but if you are still experiencing issues, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-29 19:36] #166 closed

[2020-11-29 19:37] drazisil commented on #254
I know the use case, not sure how common it is.

In a multi-job build, the files and test coverage may be persisted and run in a later job where there is no .git repo, and thus the uploader does not know the commit.

The ask, and I don't remember the source, was a way to have the uploader output the bare SHA to a file for use in that later upload job.

This can easily be done with a raw git comman

[2020-11-29 19:37] #254 closed

[2020-11-29 19:39] thomasrockhu commented on #149
Closing this out as the `-y` flag is deprecated.

[2020-11-29 19:39] #149 closed

[2020-11-29 19:39] #146 closed

[2020-11-29 19:42] thomasrockhu commented on #144
I'm going to close this out due to age, but if this is still a need, please open a feature-request on our [community boards](https://community.codecov.io)

[2020-11-29 19:42] #144 closed

[2020-11-29 19:43] thomasrockhu commented on #140
I'm going to close this out due to age, but if this is still a need, please open a feature-request on our [community boards](https://community.codecov.io)

[2020-11-29 19:43] #140 closed

[2020-11-29 19:43] thomasrockhu commented on #137
The merge commit SHA code has been removed except for GitHub Actions

[2020-11-29 19:43] #137 closed

[2020-11-29 19:45] #134 closed

[2020-11-29 19:52] #100 closed

[2020-11-30 19:50] #379 closed

[2020-11-30 21:40] grondo opened #386 "suggestion: check for GITHUB_ACTIONS before DOCKER_REPO"
Our github workflow is set up to deploy new docker images as well as upload coverage reports, therefore we set `DOCKER_REPO` in our ci environment. This caused a strange bug where the bash uploader thought we were in a docker hub build and not a GitHub Action environment. The symptom was that the uploader requested that we manually set a token for the upload.

The w/a is easy -- unset `DOCKER_REPO

[2020-12-03 18:21] jleoirab commented on #379
💯 Thanks for looking into this

[2020-12-07 17:41] JossWhittle commented on #386
Thank you @grondo ! This was my error also. Very confusing to debug.

[2020-12-10 03:02] thomasrockhu commented on #330
Hi all, we've added some logging and made some changes to make this easier to debug. If you are still experiencing this issue, please make a post on our [community boards](https://community.codecov.io).

[2020-12-10 03:02] #330 closed

[2020-12-10 16:08] #317 closed

[2020-12-11 20:27] #386 closed

[2020-12-13 03:11] thomasrockhu commented on #231
I'm not sure you meant something like https://github.com/codecov/codecov-bash/pull/391 or not @drazisil, but here you are

[2020-12-13 05:39] drazisil commented on #231
Yes, this is what I had in mind, thanks.

[2020-12-14 22:30] rowanseymour opened #393 "Failing upload for public repo using GitHub Actions"
`ERROR: Tokenless uploads are only supported for public repositories on GitHub Actions that can be verified through the Actions API.`

Was working fine, and as you can see it's a public repo

https://github.com/nyaruka/rapidpro/pull/3122/checks?check_run_id=1553406479

Github action is

[code]

[2020-12-21 02:04] thomasrockhu commented on #393
@rowanseymour, I looked in our logs, and it seems to be a hiccup when we were validating the GitHub Actions build. Apologies for the inconvenience here.

[2020-12-21 02:04] #393 closed

[2020-12-24 17:23] ktomk opened #397 "Issue detecting commit SHA"
When using the Gitub Action, the log shows the following - otherwise undocumented - error message (it is in red):

[code]

(shown directly after `==> GitHub Actions detected.`).

This message is shown regardless the `fetch-depth` for the checkout action is default (`1`), `500` or unlimited (`0`). The last two settings were suggested by the error message, but did not change the behaviour.

Would it

[2020-12-24 17:32] thomasrockhu commented on #397
Hi @ktomk, thanks for this! Would you be able to run with the `verbose`(-v) flag on so we can take a look? It is likely a bug on our end.

[2020-12-24 18:06] ktomk commented on #397
Hey @thomasrockhu, sure, results are already in: https://github.com/ktomk/n98-magerun/runs/1606114562?check_suite_focus=true#step:7:5

[2020-12-24 18:10] ktomk commented on #397
and if mc stands for merge-commit, this is just a push (without associated Github PR if that it's looking for some merge-base or so). but me is just guessing here. [see line 110](https://github.com/ktomk/n98-magerun/runs/1606114562?check_suite_focus=true#step:7:110). logs should be available the next 90 days.

[2020-12-24 18:36] thomasrockhu commented on #397
Awesome thanks @ktomk. The error message right now is innocuous so it shouldn't need a workaround, but it definitely is confusing for users. I'll work on a fix next week (holidays).

[2020-12-24 18:42] ktomk commented on #397
Thanks for the very fast response/confirmation and have nice holidays.

[2020-12-25 20:37] thomasrockhu commented on #397
@ktomk this [PR](https://github.com/codecov/codecov-bash/pull/398) should fix the issue. I expect to merge and deploy early next week.

[2020-12-28 14:16] #397 closed

[2020-12-31 16:06] abhiTronix commented on #287
Heads up everyone, `bash <(curl -s https://codecov.io/bash) -C $(Build.SourceVersion)` only works when your Azure Devope Project is **Public** and pipeline belongs it. If is already Private, just delete/disable it and make a Public one. Hope it helps.

[2021-01-03 15:51] thomasrockhu commented on #84
Fixed via https://github.com/codecov/codecov-bash/pull/394

[2021-01-03 15:51] #84 closed

[2021-01-08 15:09] thomasrockhu commented on #231
Fixed in #391

[2021-01-08 15:09] #231 closed

[2021-02-04 14:12] mdboom opened #407 "Support coverage reporting in YAML files"
Thanks for codecov.io!

We are attempting to use a custom coverage reporting tool to file coverage reports for YAML files.  I understand that's probably a bit of an unusual use case: we generate code from YAML files and then want to report which of the generated objects are tested in a unit test suite.

Unfortunately, it looks like YAML files are explicitly excluded from coverage reports [as of th

[2021-02-12 14:52] thomasrockhu commented on #407
Hi @mdboom, thanks for this feature request! Would you be able to open an issue in the `feature requests` section of our [community boards](https://community.codecov.io)?

[2021-02-12 14:52] #407 closed

[2021-02-17 18:35] juanvillegas commented on #83
Any updates on this? It's practically useless for us because the PR has to rebase (or worse, merge) the base before triggering the build, and that creates a really bad practice among our team.

[2021-02-18 22:09] marc-h38 commented on #83
Some hopefully relevant discussions and pointers:

- https://docs.github.com/en/rest/reference/pulls#list-commits-on-a-pull-request Maybe there is some github action providing this list without any coding?

- The triple dots for `git log` is more or less equivalent to the double dots for `git diff` and vice versa:
https://github.com/travis-ci/travis-ci/issues/4596#issuecomment-614397803

- Shallow

[2021-02-21 00:18] vfdev-5 opened #411 "Upload fails with "Build has already finished, uploads rejected""
Since few days, we start seeing on one our CI the following message:
[code]
on the command: `bash <(curl -s https://codecov.io/bash) -Z -F gpu`.

We have multiple CI's running various non-overlapping tests and we upload reports with different tags. Job can end at different times and send reports within 1h.

Is it now an expected behaviour to reject uploads ? How then it is determined the end of th

[2021-02-22 18:36] juanvillegas commented on #83
@marc-h38 I'm having a hard time trying to understand how those links are relevant to this discussion. Are you trying to infer that there is work to be done here to get to the desired behavior and those pointers should serve as reference?

[2021-02-24 17:03] thomasrockhu commented on #411
Hi @vfdev-5, we have shipped a fix for this now. let me know if you are still running into issues

[2021-03-01 11:05] vfdev-5 commented on #411
Seems like it is better now, thanks !

[2021-03-01 16:05] #411 closed

[2021-03-02 10:54] hallelujah opened #413 "Too many uploads to this commit."
Hello,

It looks like recently you deployed some changes/rules about uploads.
Last successful nightly build on our project was on Friday 26th of February.  Since then they constantly fail on codecov reports upload.

Our CI runs many (hundreds) small jobs in parallel, and after each job we upload the result to codecov.
I understand this might be an issue for you (thus the error `Too many uploads to

[2021-03-18 17:39] blueyed opened #415 "Exits non-zero although upload worked with "-X s3" (regression)"
codecov-bash appears to have started exiting non-zero although the upload worked (when using `-Z`).

I am using this script:
[code]

Build log on AppVeyor (Windows) (https://ci.appveyor.com/project/blueyed/pdbpp/builds/38280556/job/jrkm6mo1sckjubd2#L374):
[code]

It worked 3 months ago using Bash-20201223-5ad85e3 (https://ci.appveyor.com/project/blueyed/pdbpp/builds/37052549/job/k86598o8359e97oy#L

[2021-03-18 17:42] blueyed commented on #413
Does it fail on the first try already?
(I've thought it might be related to https://github.com/codecov/codecov-bash/issues/415 maybe - i.e. there are too many retries, although it worked (probably))

[2021-03-19 00:20] hallelujah commented on #413
@blueyed No we do not loop, we just try once per job (but implying multiple times per commit)
Do you know if there are hard limits of how many uploads per commit? I suppose it is this problem. Did you encounter that too or just because you receive a false negative bash exit code?

@drazisil-codecov or @dorianamouroux (sorry to ping you but it seems you could help us or orient us where to report is

[2021-03-22 17:17] rowanseymour commented on #393
Hiccup'ed again https://github.com/rapidpro/casepro/runs/2168254390

[2021-03-24 22:47] AenBleidd opened #417 "GCov 9.3.0 doesn't work properly when run from project root folder"
On gcov 7.5.0 when source file is not found (and this is true because codecov is always running from the root folder, and src/gcda/gcno could be in subfolder), gcov file is generated with lines that has hit number but no source, and this file is processed correctly by codecov.
On gcov 9.3.0 (I didn’t check versions between 7.5.0 and 9.3.0) when source file is not found, gcov file is generated empt

[2021-03-27 23:50] AenBleidd commented on #417
Ok, this is called ‘read documentation first before reporting bugs’.

Since gcc 8.1.0 release, source file is needed to generate correct coverage report.
New compilation flag -fprofile-abs-path was introduced to preserve correct path to source file in *.gcno file.

[2021-03-27 23:50] #417 closed

[2021-04-02 10:34] blueyed commented on #415
Using the previously working version (https://raw.githubusercontent.com/codecov/codecov-bash/5ad85e34cb5e93e330220d746997f53efaab8e7d/codecov) now also fails:
[code]

Therefore this appears to be an issue due to the server's response / and/or curl's output having changed?

[2021-04-02 10:43] blueyed commented on #415
Yeah, it fails to parse the server's response:
[code]

[2021-04-06 07:49] Flamefire opened #420 "Appveyor PR commit SHA wrong"
It looks like the appveyor commit SHA needs similar fixing as the Github Actions or Azure one.

In https://ci.appveyor.com/project/Flamefire/nowide-fr98b/builds/38560544/job/kb2fl8uw27ued5qs the commit is detected as `b6c2ea6c45b76b760189abe5246df472e701a1f9` while it should be `0c853652e5409b32ef8d07939d93c4c5d7e55094`

See the same CI on GHA: https://github.com/boostorg/nowide/pull/131/checks?ch

[2021-04-08 07:37] blueyed commented on #415
@thomasrockhu are you aware of this issue?  It appears changes on the server side (response) make `-Z` fail always now.

[2021-04-08 07:38] blueyed commented on #420
Do you know if this is a regression by chance?

[2021-04-08 08:23] Flamefire commented on #420
It might be. IIRC it did work some time ago, but can't tell for sure.

I tested the APPVEYOR_PULL_REQUEST_HEAD_COMMIT variable and that did work

Seemingly the Github action had a similar issue: https://github.com/codecov/codecov-action/issues/190 and they used a similar variable: https://github.com/codecov/codecov-action/commit/e77dab65bffcbc621e169f31ec9e12acac61a526

[2021-04-08 15:03] thomasrockhu commented on #415
@blueyed no I wasn't aware of it, but I will take a look next week.

[2021-04-11 10:57] blueyed commented on #415
Note that there is `--fail-with-body` (only added recently) and `--fail` which might be useful here - in case parsing JSON is out of scope / the server's response does not get adjusted/reverted.

Note that it probably could have different responses for different user agents (codecov-bash uses the old format, codecov-python the new(?) one).

[2021-04-15 15:56] threesquared opened #424 "Add checksum for env script"
There is no checksum provided for the `https://codecov.io/env` script, it would be great to also be able to verify this as well.

Also are you able to confirm if the `env` script was modified during the last incident?

[2021-04-15 17:34] #424 closed

[2021-04-15 17:40] threesquared commented on #424
Should we assume that the `env` script could have been modified as well? We are trying to work out potential the blast radius.

[2021-04-15 17:52] thomasrockhu commented on #424
@threesquared at the time, our audit logging has revealed no evidence of modification of the `env` script. A third-party auditing team has also revealed no evidence.

We have redeployed with a known clean copy in an abundance of caution.

[2021-04-15 17:55] threesquared commented on #424
Thanks for the clarification

[2021-04-18 01:53] dlorenc opened #427 "Issues with documented validation script"
Hey,

There are a few subtle bugs with the documented verification script:
https://docs.codecov.io/docs/about-the-codecov-bash-uploader#validating-the-bash-script

- The VERSION detection should probably just be removed and pinned to master, since the URL is always fixed and users expect it to point to the latest version. Either way, it shouldn't come from the untrusted script, especially not with

[2021-04-19 21:24] thomasrockhu commented on #427
Hi @dlorenc, thanks for the message here. Regarding `VERSION`, we cannot yet remove it from the documentation, as the time between committing to the `production` branch can be minutes before it loads up on our CDN. In that time, the SHAs will not match.

However, would something like this be reasonable for now,
[code]

[2021-04-19 21:30] zenmonkeykstop commented on #427
Another possible workaround would be to pull the latest release version from Github (though you would probably also run into timing problems depending on how releases go):
[code]

[2021-04-19 21:36] thomasrockhu commented on #427
@zenmonkeykstop, I think we will still be running into the timing issue between releases. Regarding the `env` script, I'm updating the other uploaders to not depend on `--ignore-missing` as some earlier versions of `shasum` do not accept it.

[2021-04-19 21:37] zenmonkeykstop commented on #427
In that case, won't it definitely need to be present?

[2021-04-19 21:40] thomasrockhu commented on #427
@zenmonkeykstop, sorry I don't quite understand

[2021-04-19 21:43] zenmonkeykstop commented on #427
The `env` script is invoked in the same way as `codecov`, so it would also need to be hashed and verified.

[2021-04-19 21:47] thomasrockhu commented on #427
@zenmonkeykstop oh 100%, but the `env` script is not always run. In that case, users shouldn't have to pull down another file.

[2021-04-20 02:07] thomasrockhu commented on #415
@blueyed I'll be honest I dug in a little and I'm not sure why we are throwing an exit code 1. Would you be able to run in verbose mode and reproduce?

[2021-04-20 02:20] thomasrockhu commented on #420
@Flamefire do you have another instance of this? I wonder if this has something to do with the commit SHAs on forks

[2021-04-20 06:16] Flamefire commented on #420
I haven't tested it further as I believe that all evidence suggests that APPVEYOR_PULL_REQUEST_HEAD_COMMIT is the correct variable to use and I don't see any downside.

[2021-04-20 08:17] blueyed commented on #415
@thomasrockhu https://github.com/codecov/codecov-bash/issues/415#issuecomment-812477810 is in verbose mode, isn't it?
From what I can tell the server's output changed.

[2021-04-20 14:54] PureKrome commented on #427
hi @thomasrockhu - could the documentation please be updated to include _a full example_ of how to do this, please? Many of us don't have bash script skills, especially when we come from windows backgrounds. The docs are assuming the reader has some understanding with bash and pipes, etc. For many of us, we just want to grab the script and use it our CI. That, or maybe some more detailed explanati

[2021-04-28 15:38] joseph-galindo commented on #427
Hey @dlorenc, about this part:

Assuming you're using `shasum 5.84` or newer on MacOS, I also noticed this behavior. The reason is that for checks, the internal implementation of `shasum` determines the algorithm to use for dynamic "actual" hash generation based on the length of the incoming "trusted"/"expected" hash.

The source is here which I think can give more insight:
https://perldoc.perl.or

[2021-04-28 15:54] dlorenc commented on #427
Thanks! Yep, I was using that version on OSX. Another victim of algorithm agility :)

[2021-04-28 22:51] PureKrome commented on #427
@thomasrockhu Hi Tom - any update on when the docs will get updated, please?

[2021-05-03 20:11] dinvlad commented on #427
Another workaround for this is using
[code]

[2021-05-05 16:57] thomasrockhu commented on #427
@PureKrome the docs have been updated, and you can checkout this [post](https://about.codecov.io/blog/validating-the-bash-script-on-ci/) for more details.

[2021-05-05 16:57] #427 closed

[2021-05-12 15:00] valeriomazzeo opened #431 "[Swift] Implement support for llvm-cov json exporter"
`swift package generate-xcodeproj` is deprecated and will soon be removed.

This means that the preferred way to generate code coverage for projects that only supports Swift SPM going forward, will be to use:
[code]
The above command generates a `codecov` directory with a `*.profdata` file and a `JSON` with the code coverage information in the following format https://github.com/llvm/llvm-project/

[2021-05-14 13:14] char1223 opened #433 "# [Codecov](https://app.codecov.io/gh/codecov/codecov-bash/compare/432?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=codecov) Report"
# [Codecov](https://app.codecov.io/gh/codecov/codecov-bash/compare/432?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=codecov) Report

[![Impacted file tree graph](https://codecov.io/gh/codecov/codecov-bash/pull/432/graphs/tree.svg?width=650&height=150&src=pr&token=iEvSTnW9Qm&utm_medium=referral&utm_source=github&utm_content=comment&utm_cam

[2021-05-19 11:07] blueyed commented on #415
@thomasrockhu the issue is now two months old already.

Am I supposed to remove `-Z`, or add custom parsing of the response?
(there is the GitHub Action, which _uses_ `-Z` actually, but then ignores any non-zero return value instead! (https://github.com/codecov/codecov-action/issues/286))

[2021-05-22 11:17] blueyed commented on #415
I've just noticed that this happens only with "-X s3", i.e. the method that gets used as a fallback.
That certainly explains why it is not getting more attention, since it is usually "only" flaky then (given that users using `-Z` typically do not use `-X s3` also, which I've only added as a workaround for a temporary issue initially).

[2021-05-23 13:52] thomasrockhu commented on #415
@blueyed sorry for the delay here, I've opened a PR [here](https://github.com/codecov/codecov-bash/pull/434)

[2021-05-24 13:54] #415 closed

[2021-05-25 08:01] spencercjh opened #435 "Codecov failure: Bash script checksums do not match published values. Please contact security@codecov.io immediately."
I used Github Action as the environment for my project CI/CD env, using [codecov-action](https://github.com/codecov/codecov-action) to upload codecov report, and I got this error **today**:

![image](https://user-images.githubusercontent.com/29922079/119461139-fe47bb00-bd71-11eb-9220-d2a71fa8fe0e.png)

I'm not quite sure if the issue is raised here or in that github action repo. I've been using th

[2021-05-25 11:51] spencercjh commented on #435
https://github.com/codecov/codecov-action/issues/318

[2021-05-25 11:51] #435 closed

[2021-05-25 14:45] #433 closed

[2021-05-30 17:19] LebedevRI opened #437 "[FR?] Uploading reports as archive"
This is either a feature request, or a documentation request.
The native https://github.com/codecov/codecov-bash uploads
each report separately, which doesn't quite scale well with
large report number. I'm seeing that the upload takes
an extremely long time. It would perhaps be good to be able
to archive the reports first, and upload them in one go.

Is that something that can be done?

X-Ref http

[2021-05-30 19:31] #437 closed

[2021-05-30 19:31] thomasrockhu commented on #437
(closing out as a duplicate on the mentioned issue)

[2021-05-30 19:41] LebedevRI commented on #437
... could you please bother to actually reply to the issue?

[2021-05-31 07:15] LebedevRI commented on #437
Thank you for a very helpful reply!
The answer i was looking for: "your problem is elsewhere, we already do that: https://github.com/codecov/codecov-bash/blob/965008c97d649721850b9ff0de3f71e9b8adeb71/codecov#L1796-L1798"

[2021-06-01 14:00] drazisil-codecov commented on #142
I fixed this in the bash uploader itself a while back. I apparently forgot to fix the docs as well. This is completed .

[2021-06-01 14:00] #142 closed

[2021-06-07 15:38] rowanseymour opened #438 "Unable to locate build via Github Actions API"
Seeing lots of build failures on repos that were working last week like...

[code]

e.g. https://github.com/nyaruka/rapidpro/pull/3339/checks?check_run_id=2765067466

[2021-06-07 15:43] rowanseymour commented on #438
Oops guess this should be on https://github.com/codecov/codecov-action

[2021-06-07 15:43] #438 closed

[2021-06-09 01:03] drazisil commented on #252
@thomasrockhu ping! (or close)

[2021-06-09 01:05] drazisil commented on #283
@thomasrockhu ping

[2021-06-10 14:15] debayande opened #440 "The CodeCov Bash uploader breaks uploads when run within GitHub Actions on GitHub Enterprise"
As a part of its routine for auto-detecting the underlying CI engine, the Bash uploader sets the `build_url` parameter to `http://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}` in [L875](https://github.com/codecov/codecov-bash/blob/master/codecov#L875) upon detecting GitHub Actions as the CI engine.

While this works fine for GitHub.com, it breaks uploads with HTTP 500 errors when

[2021-06-15 22:31] elashpear opened #443 "codecov-bash exits zero on 400 error"
Running `bash <(curl -s https://codecov.io/bash)` can result in the following error:
[code]

In this case, the script exits zero and CI is unable to detect the failure. The script should exit nonzero when encountering a fatal error submitting the coverage report.

[2021-06-22 15:41] RA80533 opened #444 "Both `Content-Encoding` and `X-Content-Encoding` are set"
As the title suggests, both `Content-Encoding` and `X-Content-Encoding` are set. This is more than likely a bug:
- They are duplicates of one another
- `X-Content-Encoding` is the nonstandard variant of the first

Is it intended for both headers to be set and sent over to the server? Which one does the server check?

[2021-07-10 04:15] matthewberryman opened #446 "CI continues despite failure to release"
Looks like something went wrong with your releasing step, as the current published bash script doesn't match the (github) released version; an assumption that your circleci orb relies on when validating the bash script against checksums. This then breaks all my usage of codecov, which relies on the orb.
More: https://github.com/codecov/codecov-circleci-orb/issues/92

[2021-07-10 04:26] Tbilgere-td commented on #446
Can confirm, Checksum stopped passing for us as well on multiple environments this evening.

[2021-07-10 04:32] matthewberryman commented on #446
Digging a bit deeper:
This line in one of your CI scripts https://github.com/codecov/codecov-bash/blob/c3ccd596467b6c08e6fba7dba6e048dd0e341421/scripts/version.sh#L26 relies on the version being updated in the bash script (it has not been in a while, despite changes) and the CircleCI ignores the git failure (not sure why yet as this exit code should be passed out as an error not 0)

[2021-07-10 05:54] thomasrockhu commented on #446
Hi all, I have made the change on our end and deployed `1.0.4`. Please let me know if you are still experiencing the issue

[2021-07-10 07:10] Tbilgere-td commented on #446
Hey, just attempted a build and it appears the 1.0.4 release did not include the necessary assets as such the file at `https://codecov.io/bash` is still 1.0.3 and does not pass checksum.

[2021-07-12 00:17] jpeach commented on #446
Confirmed that this is still broken.

[code]

Since this problem is breaking CI for projects, is there a time frame for fixing it?

[2021-07-12 00:28] ouranos opened #449 "Issue with codecov checksum"
We're using the following snippet to verify the codecov bash uploader:
[code]

It stopped working this morning and is now blocking our CI/CD pipeline, it might be due to the hotfix mentioned in #448?

The version downloaded is `1.0.3`.

I have the following checksum:
[code]

[2021-07-12 00:29] ouranos commented on #449
I just realised this is a duplicate of #446.

[2021-07-12 00:29] #449 closed

[2021-07-12 00:30] ouranos commented on #446
Yes, still broken, had the issue this morning: https://github.com/codecov/codecov-bash/issues/449

[2021-07-12 01:45] thomasrockhu commented on #446
Hi all, I made a fix in the deployment, it should be showing `1.0.4` now.

[2021-07-12 02:50] jpeach commented on #446
Verified that this works in our CI. Thanks @thomasrockhu :100:

[2021-07-12 03:36] #446 closed

[2021-07-12 14:03] Ferror opened #450 "Codecov with Travis - Specified coverage file not found."
Hi! I'm trying to configure Codecov and Travis, but It fails to find the file. I'm sure that the pipeline is creating it. Do you have any idea what might have gone wrong? Also, I tried the default configuration, but it fails too.

# Logs
[code]

# Codecov config file
[code]
# Travis Config
[code]

[2021-07-12 14:15] thomasrockhu commented on #450
@Ferror can you open a ticket in our [community boards](https://community.codecov.com) for this?

[2021-07-12 14:15] #450 closed

[2021-07-21 21:05] #154 closed

[2021-08-11 23:16] drazisil commented on #187
Work is moving to https://github.com/codecov/uploader, closing

[2021-08-11 23:16] #187 closed

[2021-08-11 23:16] drazisil commented on #250
Work is moving to https://github.com/codecov/uploader, closing